output=/mods/portalgun/textures/blocks/
 
1.1=portalSpawner
1.2=portalTopClosed
1.3=portalBottomClosed
1.4=portalTopOpen
1.5=portalBottomOpen
1.6=fizzlerStill
1.7=fizzlerSide
1.8=fizzlerItem
1.9=portalTopMoon
1.10=portalBottomMoon
1.11=afpBottom
1.12=afpTop
1.13=afpSide
1.14=afpBottomUnpowered
1.15=afpTopUnpowered
 
2.1=cubeNormal
2.2=cubeCompanion
2.3=eeiOff
2.4=eeiOn
2.5=ventTop
2.6=ventSideOff
2.7=ventBottomOff
2.8=ventSideOn
2.9=ventBottomOn
2.10=hepCatcherBottomActive
2.11=hepCatcherBottomInactive
2.12=hepCatcherSideActive
2.13=hepCatcherSideInactive
2.14=hepLauncherSide
2.15=hepLauncherTopActive
2.16=hepLauncherTopInactive
 
3.1=portalBottomOutline
3.2=portalTopOutline
3.3=cubeDiscouragementSideInactive
3.4=cubeDiscouragementSideActive
3.5=cubeDiscouragementFrontInactive
3.6=cubeDiscouragementFrontActice
3.7=tdbEmitter
3.8=tdbSensorBase
3.9=tdbSensorSideInactive
3.10=tdbSensorSideActive
3.11=tdbSensorTop
3.12=tdbReceiverInactive
3.13=tdbReceiverActive
3.14=hepWallDamage
3.15=radio
3.16=checkpoint