output=/mods/portalgun/textures/items/
 
1.1=portalgunDefA
1.2=portalgunDefB
1.3=portalgunAtlasA
1.4=portalgunAtlasB
1.5=portalgunPBodyA
1.6=portalgunPBodyB
1.7=portalgunBaconA
1.8=portalgunBaconB
1.9=portalSpawner
1.10=longFallBoot
1.11=longFallBoots
1.12=recordStillAlive
1.13=recordRadioLoop
1.14=recordWantYouGone
1.15=turretNormal
1.16=turretDefective
 
2.1=pedestal
2.2=aerialFaithPlate
2.3=portalgunPotatoA
2.4=portalgunPotatoB
2.5=potatosOverlay
2.6=potatoUNUSED
2.7=enderPearlDust
2.8=miniBlackHole
2.9=potatosChristmasOverlay