output=/mods/extrabees/textures/

1.1=blocks/hive/water.0
1.2=blocks/hive/water.1
1.3=blocks/hive/rock.0
1.4=blocks/hive/rock.1
1.5=blocks/hive/nether.0
1.6=blocks/hive/nether.1
1.7=blocks/hive/marble.0
1.8=blocks/hive/marble.1

2.2=items/honeyCrystalEmpty
2.3=items/honeyCrystal
2.4=items/apiaristDatabase
2.5=items/beekeepingPage

3.4=items/masterApiaristDatabase

4.8=items/frameCocoa
4.9=items/frameCage
4.10=items/frameSoul
4.11=items/frameClay
4.12=items/frameDebug

8.1=items/cast/axe
8.2=items/cast/block
8.3=items/cast/boots
8.4=items/cast/chestplate
8.5=items/cast/gear
8.6=items/cast/helmet
8.7=items/cast/hoe
8.8=items/cast/legging
8.9=items/cast/pickaxe
8.10=items/cast/shovel