output=/mods/appeng/textures/blocks/
1.1=block_bottom
1.2=BlockChestFront
1.3=BlockChestSide
1.4=BlockChestTopRed
1.5=BlockChestTopGreen
1.6=block_side
1.7=block_top
1.8=BlockDriveFace
1.9=Controller0
1.10=Controller1
1.11=Controller2
1.12=Controller3
1.13=Controller4
1.14=Controller5
1.15=BlockInterface
1.16=METerm_Blue

2.1=BlockPatternEncoder
2.2=MECable
2.3=BlockCraftingCPU
2.4=BlockAssembler
2.5=MECable_Blue
2.6=BlockWireless
2.7=BlockPreformatter
2.8=MECTerm_Blue
2.9=Drive0_0
2.10=Drive1_0
2.11=Drive2_0
2.12=Drive3_0
2.13=Drive4_0
2.14=Drive5_0
2.15=METerm_Black
2.16=MECable_Black

3.1=BlockQuartz
3.2=Unused
3.3=LevelEmitterTorchOn
3.4=BlockHeatVent
3.5=BlockContainmentWallMerged
3.6=BlockContainmentWall
3.8=MECTerm_Black
3.9=Drive0_1
3.10=Drive1_1
3.11=Drive2_1
3.12=Drive3_1
3.13=Drive4_1
3.14=Drive5_1
3.15=METerm_White
3.16=MECable_White

4.1=BlockGrinderBottom
4.2=BlockGrinderTop
4.3=LevelEmitterTorchOff
4.4=BlockHeatVentMerged
4.5=BlockIOPortSide
4.6=BlockIOPortTop
4.7=BlockFuzzyInterface
4.8=MECTerm_White
4.9=Drive0_2
4.10=Drive1_2
4.11=Drive2_2
4.12=Drive3_2
4.13=Drive4_2
4.14=Drive5_2
4.15=METerm_Brown
4.16=MECable_Brown

5.1=BlockGrinderFace
5.2=BlockGrinderSide
5.3=BlockHDDriveFace
5.4=BlockHDDriveFaceParts
5.5=BlockHDChestTop
5.6=CableBeam
5.7=MECraftingMon_Blue
5.8=MECTerm_Brown
5.9=Drive0_3
5.10=Drive1_3
5.11=Drive2_3
5.12=Drive3_3
5.13=Drive4_3
5.14=Drive5_3
5.15=METerm_Red
5.16=MECable_Red

6.1=BlockCrank
6.5=BlockHDChestTopParts
6.7=MECraftingMon_Black
6.8=MECTerm_Red
6.9=Drive0_4
6.10=Drive1_4
6.11=Drive2_4
6.12=Drive3_4
6.13=Drive4_4
6.14=Drive5_4
6.15=METerm_Yellow
6.16=MECable_Yellow

7.6=MECableLong
7.7=MECraftingMon_White
7.8=MECTerm_Yellow
7.9=Drive0_5
7.10=Drive1_5
7.11=Drive2_5
7.12=Drive3_5
7.13=Drive4_5
7.14=Drive5_5
7.15=METerm_Green
7.16=MECable_Green

8.7=MECraftingMon_Brown
8.8=MECTerm_Green
8.14=MEStorageMonitorMatrix_Blue
8.15=MEStorageMonitor_Blue
8.16=MECable_DarkBlue

9.7=MECraftingMon_Red
9.14=MEStorageMonitorMatrix_Black
9.15=MEStorageMonitor_Black
9.16=MECable_DarkBlack

10.7=MECraftingMon_Orange
10.14=MEStorageMonitorMatrix_White
10.15=MEStorageMonitor_White
10.16=MECable_DarkWhite

11.7=MECraftingMon_Green
11.14=MEStorageMonitorMatrix_Brown
11.15=MEStorageMonitor_Brown
11.16=MECable_DarkBrown

12.14=MEStorageMonitorMatrix_Red
12.15=MEStorageMonitor_Red
12.16=MECable_DarkRed

13.14=MEStorageMonitorMatrix_Yellow
13.15=MEStorageMonitor_Yellow
13.16=MECable_DarkYellow

14.14=MEStorageMonitorMatrix_Green
14.15=MEStorageMonitor_Green
14.16=MECable_DarkGreen