output=/mods/appeng/items/
1.1=Item1kcell
1.2=Item16kcell
1.3=Item64kCell
1.4=MatBlankPattern
1.5=ItemEncodedPattern
1.6=ItemWirelessTerminal
1.7=#
1.8=Item4kCell
1.9=#

16.7=ItemWrench
16.8=quartzSword
16.9=quartzShovel
16.10=quartzPick
16.11=quartzAxe
16.12=quartzHoe
16.13=#
16.14=ItemCuttingKnife
16.15=ItemEntropyAccelerator
16.16=ItemVibrationCatalyst