output=/mods/appeng/items/
1.1=MatConversionMatrix
1.2=MatCell
1.3=MatBlock
1.4=MatCluster
1.5=MatWireless
1.6=MatWirelessBooster
1.7=MatCrystal
1.8=MatQuartzDustCertus
1.9=MatIronDust
1.10=MatGoldDust
1.11=MatWoodenGear
1.12=MatWoodenCrank
1.13=MatFlour
1.14=MatSilicon
1.15=#
1.16=MatCellHousing

2.1=MatBlankPattern
2.2=MatSegment
2.3=BasicProcessor
2.4=AdvProcessor
2.5=BasicProcessAsm
2.6=AdvProcessAsm