output=/mods/thermalexpansion/textures/blocks/

1.1=Machine_Bottom

2.1=Machine_Top

3.1=Machine_Side

4.1=Machine_Face_Furnace
4.2=Machine_Face_Pulverizer
4.3=Machine_Face_Sawmill
4.4=Machine_Face_Smelter
4.5=Machine_Face_Crucible
4.6=Machine_Face_Transposer
4.7=Machine_Face_IceGen
4.8=Machine_Face_RockGen
4.9=Machine_Face_WaterGen

5.1=Machine_Active_Furnace
5.2=Machine_Active_Pulverizer
5.3=Machine_Active_Sawmill
5.4=Machine_Active_Smelter
5.5=Machine_Active_Crucible
5.6=Machine_Active_Transposer
5.7=Machine_Active_IceGen
5.8=Machine_Active_RockGen
5.9=Machine_Active_WaterGen

15.1=Glass_Hardened

16.1=Ore_Copper
16.2=Ore_Tin
16.3=Ore_Silver
16.4=Ore_Lead
16.5=Ore_Ferrous