output=/mods/thermalexpansion/textures/items/

1.1=DustIron
1.2=DustGold
1.3=DustCopper
1.4=DustTin
1.5=DustSilver
1.6=DustLead
1.7=DustNickel
1.8=DustPlatinum
1.9=DustElectrum
1.10=DustInvar
1.11=DustBronze
1.12=DustBrass

2.2=DustObsidian
2.3=IngotCopper
2.4=IngotTin
2.5=IngotSilver
2.6=IngotLead
2.7=IngotNickel
2.8=IngotPlatinum
2.9=IngotElectrum
2.10=IngotInvar

3.1=CrystalSulfur
3.2=CrystalNiter
3.3=CrystalCinnabar

4.1=Woodchips
4.2=Sawdust
4.3=SawdustCompressed
4.4=Slag
4.5=SlagRich

5.1=PneumaticServo
5.2=PowerCoilGold
5.3=PowerCoilSilver
5.4=PowerCoilElectrum
5.5=GearCopper
5.6=GearTin
5.7=GearInvar

15.1=Wrench
15.2=Multimeter
15.3=Item_227
15.4=Item_228
15.5=Item_229