output=/mods/buildcraft/textures/items/triggers/

1.1=trigger_redstoneinput_active
1.2=trigger_redstoneinput_inactive
1.3=trigger_pipesignal_red_inactive
1.4=trigger_pipesignal_red_active
1.5=trigger_pipesignal_blue_inactive
1.6=trigger_pipesignal_blue_active
1.7=trigger_pipesignal_green_inactive
1.8=trigger_pipesignal_green_active
1.9=trigger_pipesignal_yellow_inactive
1.10=trigger_pipesignal_yellow_active

2.1=trigger_engineheat_blue
2.2=trigger_engineheat_green
2.3=trigger_engineheat_yellow
2.4=trigger_engineheat_red

3.1=trigger_liquidcontainer_empty
3.2=trigger_liquidcontainer_contains
3.3=trigger_liquidcontainer_space
3.4=trigger_liquidcontainer_full
3.5=trigger_inventory_empty
3.6=trigger_inventory_contains
3.7=trigger_inventory_space
3.8=trigger_inventory_full

4.1=trigger_pipecontents_empty
4.2=trigger_pipecontents_containsitems
4.3=trigger_pipecontents_containsliquid
4.4=trigger_pipecontents_containsenergy
4.5=guitriggers_3_4

5.1=trigger_machine_active
5.2=trigger_machine_inactive
5.3=action_machinecontrol_on
5.4=action_machinecontrol_off
5.5=action_machinecontrol_loop

6.1=guitriggers_5_0
6.2=guitriggers_5_1
6.3=guitriggers_5_2
6.4=guitriggers_5_3
6.5=guitriggers_5_4
6.6=guitriggers_5_5