output=/mods/mocreatures/textures/items/

1.1=horsesaddle
1.2=haystack
1.3=sugarlump
1.4=sharkteeth
1.5=bigcatclaw
1.6=whip
1.7=medallion
1.8=catlitter
1.9=woolball
1.10=rope
1.11=petfood
1.12=reptilehide
1.13=reptileplate
1.14=reptilehelmet
1.15=reptilelegs
1.16=reptileboots

2.1=moc_egg
2.2=catbed
2.3=fir
2.4=omelet
2.5=turtlemeat
2.6=turtlesoup
2.7=key
2.8=essencedarkness
2.9=essencefire
2.10=amuletbone
2.11=amuletbonefull
2.12=amuletghost
2.13=amuletghostfull
2.16=essencelight

3.1=bowlempty
3.2=bowlwater
3.3=bowlfish1
3.4=bowlfish2
3.5=bowlfish3
3.6=bowlfish4
3.7=bowlfish5
3.8=bowlfish6
3.9=bowlfish7
3.10=bowlfish8
3.11=bowlfish9
3.12=bowlfish10
3.13=essenceundead
3.16=unicorn

4.13=furplate
4.14=furhelmet
4.15=furlegs
4.16=furboots

5.1=nunchaku
5.2=sai
5.3=bo
5.4=katana
5.5=swordshark
5.6=staff
5.7=staffportal
5.8=staff2
5.9=staff3
5.10=armourmetal
5.11=armourgold
5.12=armourdiamond
5.13=armourcrystal
5.14=ratraw
5.15=ratcooked
5.16=ratburger

6.1=heartdarkness
6.2=heartundead
6.3=heartfire
6.4=ostrichchraw
6.5=ostrichcooked
6.6=amuletfairy
6.7=amuletfairyfull
6.8=amuletpegasus
6.9=amuletpegasusfull
6.10=recordshuffle
6.11=creaturepedia
6.12=turkeyraw
6.13=turkeycooked
6.14=hide
6.15=hideplate
6.16=hidehelmet

7.1=hidelegs
7.2=hideboots
7.3=chitinblack
7.4=chitinfrost
7.5=chitinnether
7.6=chitin
7.7=swordscorpioncave
7.8=swordscorpionfrost
7.9=swordscorpionnether
7.10=swordscorpion
7.11=plate
7.12=helmet
7.13=legs
7.14=boots
7.15=platefrost
7.16=helmetfrost

8.1=legsfrost
8.2=bootsfrost
8.3=plateblack
8.4=helmetblack
8.5=legsblack
8.6=bootsblack
8.7=platenether
8.8=helmetnether
8.9=legsnether
8.10=bootsnether
8.11=stingcave
8.12=stingfrost
8.13=stingnether
8.14=stingdirt

9.1=tuskswood
9.2=tusksiron
9.3=tusksdiamond
9.4=harness
9.5=chestset
9.6=garment
9.7=howdah
9.8=platform
9.9=scrollofowner
9.10=scrollofsale