output=/mods/morePistons/textures/blocks/

1.1=top_sticky
1.2=top
1.4=#
1.5=#
1.6=#
1.7=#
1.8=#
1.9=#

2.1=double_bottom
2.2=double_top
2.3=double_side
2.4=oct_bottom
2.5=oct_top
2.6=oct_side
2.7=quad_bottom
2.8=quad_top
2.9=quad_side
2.10=gravi_bottom
2.11=gravi_top
2.12=gravi_side
2.13=super_bottom
2.14=super_top
2.15=super_side

3.1=rod_v
3.2=rov_h