output=/mods/BiomesOPlenty/textures/blocks/

1.1=swampflower
1.2=bush
1.3=cattail
1.4=deadgrass
1.5=desertgrass
1.6=drieddirt
1.7=glowflower
1.8=highgrassbottom
1.9=highgrasstop
1.10=mud
1.11=orangeflower
1.12=purpleflower
1.13=shortgrass
1.14=sprout
1.15=thorn
1.16=tinyflower

2.1=toadstool
2.2=whiteflower
2.3=willow
2.4=bamboo
2.5=redrock
2.6=ashblock
2.7=ashstone
2.8=redcobble
2.9=redbrick
2.10=hardsand
2.11=harddirt
2.12=holystone
2.13=holygrass2
2.14=holygrass1
2.15=holytallgrass
2.16=portal

3.1=origingrass1
3.2=origingrass2
3.3=origingrass3
3.4=cherrylog
3.5=cherryplank
3.6=darklog
3.7=darkplank
3.8=deadlog
3.9=redwoodlog
3.10=redwoodplank
3.11=willowlog
3.12=willowplank
3.13=acacialog
3.14=acaciaplank
3.15=firlog
3.16=firplank

4.1=bigflowerstem
4.2=bigflowerred
4.3=bigfloweryellow
4.4=cactus
4.5=mudbrick
4.6=hardice
4.7=pinkflower
4.8=magiclog
4.9=magicplank
4.10=treemoss
4.11=barley
4.12=palmlog
4.13=palmplank
4.14=mangrovelog
4.15=mangroveplank
4.16=acaciasapling

5.1=autumnleaves1
5.2=autumnleaves2
5.3=orangeleaves1
5.4=orangeleaves2
5.5=redleaves1
5.6=redleaves2
5.7=pinkleaves1
5.8=pinkleaves2
5.9=whiteleaves1
5.10=whiteleaves2
5.11=blueleaves1
5.12=blueleaves2
5.13=deadleaves1
5.14=deadleaves2
5.15=appleleaves1
5.16=appleleaves2

6.1=appleleaves3
6.1=willowleaves1
6.2=appleleaves4
6.2=willowleaves2
6.3=originleaves1
6.4=originleaves2
6.5=darkleaves1
6.6=darkleaves2
6.7=firleaves1
6.8=firleaves2
6.9=willowleaves3
6.10=willowleaves4
6.11=acacialeaves1
6.12=acacialeaves2
6.13=palmleaves1
6.14=palmleaves2
6.15=redwoodleaves1
6.16=redwoodleaves2

7.1=bambooleaves1
7.2=bambooleaves2
7.3=firsapling
7.3=firsappling
7.4=redwoodsapling
7.4=redwoodsappling
7.5=palmsapling
7.5=palmsappling
7.6=redsapling
7.6=redsappling
7.7=orangesapling
7.7=orangesappling
7.8=yellowsapling
7.8=yellowsappling
7.9=brownsapling
7.9=brownsappling
7.10=willowsapling
7.10=willowsappling
7.11=applesapling
7.12=originsapling
7.12=originsappling
7.13=pinksapling
7.13=pinksappling
7.14=whitesapling
7.14=whitesappling
7.15=darksapling
7.15=darksappling
7.16=magicsapling
7.16=magicsappling

8.1=deadbloom
8.2=hydrangea
8.3=violet
8.4=mediumgrass
8.5=dunegrass
8.6=desertsprouts
8.7=mangrovesapling
8.7=mangrovesappling
8.8=mangroveleaves1
8.9=mangroveleaves2
8.10=algae
8.11=smolderinggrass1
8.12=smolderinggrass2
8.13=smolderinggrass3
8.14=amethystore
8.15=holyleaves1
8.16=holyleaves2

9.1=holylog
9.2=holyplank
9.3=holysapling
9.3=holysappling
9.4=amethystblock
9.5=bamboothatching
9.6=moss
9.7=cragrock
9.8=quicksand

16.15=stemTopBottum
16.16=logTopBottum








