output=/mods/BiomesOPlenty/textures/blocks/

1.1=swampflower
1.2=bush
1.3=cattail
1.4=deadgrass
1.5=desertgrass
1.6=drieddirt
1.7=glowflower
1.8=highgrassbottom
1.9=highgrasstop
1.10=mud
1.11=orangeflower
1.12=purpleflower
1.13=shortgrass
1.14=sprout
1.15=thorn
1.16=tinyflower

2.1=toadstool
2.2=whiteflower
2.3=willow
2.4=bamboo
2.5=redrock
2.6=ashblock
2.7=ashstone
2.8=redcobble
2.9=redbrick
2.10=hardsand
2.11=harddirt
2.12=holystone
2.13=holygrass2
2.14=holygrass1
2.15=holytallgrass
2.16=portal

3.1=origingrass1
3.2=origingrass2
3.3=origingrass3
3.4=log_cherry_side
3.5=plank_cherry
3.6=log_dark_side
3.7=plank_dark
3.8=log_dead_side
3.9=log_redwood_side
3.10=plank_redwood
3.11=log_willow_side
3.12=plank_willow
3.13=log_acacia_side
3.14=plank_acacia
3.15=log_fir
3.16=plank_fir

4.1=bigflowerstem
4.2=bigflowerred
4.3=bigfloweryellow
4.4=cactus
4.5=mudbrick
4.6=hardice
4.7=pinkflower
4.8=log_magic_side
4.9=plank_magic
4.10=treemoss
4.11=barley
4.12=log_palm_side
4.13=plank_palm
4.14=log_mangrove_side
4.15=plank_mangrove
4.16=sapling_acacia

5.1=leaves_yellowautumn_fancy
5.2=leaves_yellowautumn_fast
5.3=leaves_orangeautumn_fancy
5.4=leaves_orangeautumn_fast
5.5=leaves_red_fancy
5.6=leaves_red_fast
5.7=leaves_pinkcherry_fancy
5.8=leaves_pinkcherry_fast
5.9=leaves_whitecherry_fancy
5.10=leaves_whitecherry_fast
5.11=leaves_magic_fancy
5.12=leaves_magic_fast
5.13=leaves_dead_fancy
5.14=leaves_dead_fast
5.15=leaves_apple
5.16=leaves_apple3_fast

6.1=leaves_apple0_fancy
6.1=leaves_willow_fancy
6.2=leaves_apple0_fast
6.2=leaves_willow_fast
6.3=leaves_origin_fancy
6.4=leaves_origin_fast
6.5=leaves_dark_fancy
6.6=leaves_dark_fast
6.7=leaves_fir_fancy
6.8=leaves_fir_fast
6.9=willowleaves3
6.10=willowleaves4
6.11=leaves_acacia_fancy
6.12=leaves_acacia_fast
6.13=leaves_palm_fancy
6.14=leaves_palm_fast
6.15=leaves_redwood_fancy
6.16=leaves_redwood_fast

7.1=leaves_bamboo_fancy
7.2=leaves_bamboo_fast
7.3=sapling_fir
7.4=sapling_redwood
7.5=sapling_palm
7.6=sapling_red
7.7=sapling_orangeautumn
7.8=sapling_yellowautumn
7.9=sapling_brown
7.10=sapling_willow
7.11=sapling_apple
7.12=sapling_origin
7.13=sapling_pinkcherry
7.14=sapling_whitecherry
7.15=sapling_dark
7.16=sapling_magic

8.1=deadbloom
8.2=hydrangea
8.3=violet
8.4=mediumgrass
8.5=dunegrass
8.6=desertsprouts
8.7=sapling_mangrove
8.8=leaves_mangrove_fancy
8.9=leaves_mangrove_fast
8.10=algae
8.11=smolderinggrass_top
8.12=smolderinggrass_side
8.13=smolderinggrass_bottom
8.14=amethystore
8.15=leaves_holy_fancy
8.16=leaves_holy_fast

9.1=log_holy_side
9.2=plank_holy
9.3=sapling_holy
9.4=amethystblock
9.5=bamboothatching
9.6=moss
9.7=cragrock
9.8=quicksand

16.15=stemTopBottum
16.16=logTopBottum








