output=/mods/BiomesOPlenty/textures/items/

1.1=mudaxe
1.2=mudboots
1.3=mudchestplate
1.4=mudhelmet
1.5=mudhoe
1.6=mudleggings
1.7=mudball
1.8=mudbrick
1.9=mudpickaxe
1.10=mudshovel
1.11=shroompowder
1.12=mudsword
1.13=bamboo
1.14=cattail
1.15=ancientstaff
1.16=enderporter

2.1=ash
2.2=barley
2.3=amethystsword
2.4=amethystshovel
2.5=amethystpickaxe
2.6=amethystaxe
2.7=amethysthoe
2.8=amethyst
2.9=amethysthelmet
2.10=amethystchestplate
2.11=amethystleggings
2.12=amethystboots
2.13=staffhandle
2.14=staffpole
2.15=stafftopper
2.16=shortgrass

3.1=mediumgrass
3.2=bush
3.3=sprout
3.4=moss
3.5=boprecord
3.6=mudrecord