output=/mods/ee3/textures/items/

1.1=shardMinium
1.2=stoneInert
1.3=stonePhilosophers-old
1.4=algotGeneric
1.5=diviningRodEffectGlow
1.6=diviningRod
1.7=alchemicalBagClosed
1.8=alchemicalBagClosedDrawString
1.9=alchemicalBagOpen
1.10=alchemicalBagOpenDrawString
1.11=dustAlchemicalAsh
1.12=dustAlchemicalMinium
1.13=dustAlchemicalVerdant
1.14=dustAlchemicalAzure
1.15=dustAlchemicalAmaranthine
1.16=dustAlchemicalIridescent

3.1=staff1
3.2=staff2
3.3=staff3
3.4=staff4
3.5=staff5
3.6=staff6
3.7=spear1
3.8=spear2
3.9=spear3
3.10=spear4