output=/textures/blocks/powercrystals/powerconverters/

1.1=tile.powerconverters.bc.consumer.off
1.2=tile.powerconverters.bc.consumer.on
1.3=tile.powerconverters.bc.producer.off
1.4=tile.powerconverters.bc.producer.on
1.5=tile.powerconverters.TEMPLATE
1.6=tile.powerconverters.common.bridge
1.7=tile.powerconverters.ic2.lv.consumer.off
1.8=tile.powerconverters.ic2.lv.consumer.on
1.9=tile.powerconverters.ic2.lv.producer.off
1.10=tile.powerconverters.ic2.lv.producer.on
1.11=tile.powerconverters.ic2.mv.consumer.off
1.12=tile.powerconverters.ic2.mv.consumer.on
1.13=tile.powerconverters.ic2.mv.producer.off
1.14=tile.powerconverters.ic2.mv.producer.on
1.15=tile.powerconverters.ic2.hv.consumer.off
1.16=tile.powerconverters.ic2.hv.consumer.on

2.1=tile.powerconverters.ic2.hv.producer.off
2.2=tile.powerconverters.ic2.hv.producer.on
2.3=tile.powerconverters.ic2.ev.consumer.off
2.4=tile.powerconverters.ic2.ev.consumer.on
2.6=tile.powerconverters.ic2.ev.producer.off
2.6=tile.powerconverters.ic2.ev.producer.on
2.7=tile.powerconverters.steam.consumer.off
2.8=tile.powerconverters.steam.consumer.on
2.9=tile.powerconverters.steam.producer.off
2.10=tile.powerconverters.steam.producer.on
2.11=tile.powerconverters.ue.lv.consumer.off
2.12=tile.powerconverters.ue.lv.consumer.on
2.13=tile.powerconverters.ue.lv.producer.off
2.14=tile.powerconverters.ue.lv.producer.on
2.15=tile.powerconverters.ue.mv.consumer.off
2.16=tile.powerconverters.ue.mv.consumer.on
 
3.1=tile.powerconverters.ue.mv.producer.off
3.2=tile.powerconverters.ue.mv.producer.on
3.3=tile.powerconverters.ue.hv.consumer.off
3.4=tile.powerconverters.ue.hv.consumer.on
3.5=tile.powerconverters.ue.hv.producer.off
3.6=tile.powerconverters.ue.hv.producer.on
3.7=tile.powerconverters.common.charger.off
3.8=tile.powerconverters.common.charger.on
3.9=tile.powerconverters.fz.consumer.off
3.10=tile.powerconverters.fz.consumer.on
3.11=tile.powerconverters.fz.producer.off
3.12=tile.powerconverters.fz.producer.on
3.13=tile.powerconverters.ue.ev.consumer.off
3.14=tile.powerconverters.ue.ev.consumer.on
3.15=tile.powerconverters.ue.ev.producer.off
3.16=tile.powerconverters.ue.ev.producer.on