output=/mods/immibis/tubestuff/textures/

1.1=blocks/act-top
1.2=blocks/act-bottom
1.3=blocks/act-side
1.4=blocks/buffer
1.5=blocks/bhc
1.6=items/jammer
1.7=blocks/incinerator-side
1.8=blocks/incinerator-top
1.9=blocks/duplicator
1.10=blocks/retrievulator-input
1.11=blocks/retrievulator-side
1.12=blocks/retrievulator-output
1.13=blocks/breaker-frame
1.14=blocks/breaker-xframe
1.15=blocks/detector-off
1.16=blocks/detector-on

3.1=blocks/silver
3.2=blocks/tin
3.3=blocks/copper
3.4=blocks/nikolite
3.5=blocks/charcoal
3.6=blocks/redstone
3.7=blocks/bluealloy
3.8=blocks/redalloy
3.9=blocks/brass
3.10=blocks/coal