output=/textures/

1.1=blocks/uw_top
1.2=blocks/db_front
1.3=blocks/back
1.4=blocks/side
1.5=blocks/drink_store
1.6=blocks/rain_top

2.1=items/milkBottle
2.2=items/choc
2.3=items/fresh_water
2.4=items/canteen
2.5=items/clean_bucket
2.6=items/cup
2.7=items/water
2.8=items/fWater

3.1=items/filter
3.2=items/dirty_filter
3.3=items/coins
3.4=items/cloth
3.5=items/full_cloth
3.6=items/coal_filter