output=/mods/forestry/textures/items/crates/

1.2=wood
1.3=cobble
1.4=tile]-3
1.5=gravel
1.6=bricks
1.7=cactus
1.8=sand
1.9=obsidian
1.10=netherrack
1.11=soulsand
1.12=sandstone
1.13=bogearth
1.14=humus
1.15=netherbrick
1.16=mycelium

2.1=tile]-16
2.2=peat
2.3=apatite
2.4=fertilizer
2.5=tin
2.6=copper
2.7=bronze
2.8=wheat
2.9=mulch
2.10=iron
2.11=brass
2.12=nikolite
2.13=cookies
2.14=drippingcombs
2.15=beeswax
2.16=pollen

3.1=propolis
3.2=honeydew
3.3=honeydrop
3.4=chocolatecombs
3.5=redstone
3.6=lapis
3.7=reeds
3.8=clay
3.9=glowstone
3.10=apples
3.11=netherwart
3.12=resin
3.13=rubber
3.14=scrap
3.15=uum
3.16=simmeringcombs

4.1=stringycombs
4.2=frozencombs
4.3=honeycombs
4.4=refractorywax
4.5=phosphor
4.6=ash
4.7=charcoal
4.7=coal
4.8=stone
4.9=seeds
4.10=saplings