output=/mods/forestry/textures/blocks/germlings/

2.1=sapling.treeLarch
2.2=sapling.treeSequioa
2.3=sapling.treeBalsa
2.4=sapling.treeCherry
2.5=sapling.treeLime
2.6=sapling.treeTeak
2.7=sapling.treeChestnut
2.8=sapling.treeAcacia
2.9=sapling.treeWalnut
2.10=sapling.treePine
2.11=sapling.treeWenge
2.12=sapling.treeBaobab
2.13=sapling.treeKapok
2.14=sapling.treeEbony
2.15=sapling.treeMahogony
2.16=sapling.treeWillow

3.1=sapling.treeSipiri