output=/mods/forestry/textures/blocks/

1.1=wood/planks.larch
1.2=wood/planks.teak
1.3=wood/planks.acacia
1.4=wood/planks.lime
1.5=wood/planks.chestnut
1.6=wood/planks.wenge
1.7=wood/planks.baobab
1.8=wood/planks.sequoia
1.9=wood/planks.kapok
1.10=wood/planks.ebony
1.11=wood/planks.mahogany
1.12=wood/planks.balsa
1.13=wood/planks.willow
1.14=wood/planks.walnut
1.15=wood/planks.greenheart
1.16=wood/planks.cherry

2.1=wood/bark.larch
2.2=wood/bark.teak
2.3=wood/bark.acacia
2.4=wood/bark.lime
2.5=wood/bark.chestnut
2.6=wood/bark.wenge
2.7=wood/bark.baobab
2.8=wood/bark.sequoia
2.9=wood/bark.kapok
2.10=wood/bark.ebony
2.11=wood/bark.mahogany
2.12=wood/bark.balsa
2.13=wood/bark.willow
2.14=wood/bark.walnut
2.15=wood/bark.greenheart
2.16=wood/bark.cherry

3.1=wood/heart.larch
3.2=wood/heart.teak
3.3=wood/heart.acacia
3.4=wood/heart.lime
3.5=wood/heart.chestnut
3.6=wood/heart.wenge
3.7=wood/heart.baobab
3.8=wood/heart.sequoia
3.9=wood/heart.kapok
3.10=wood/heart.ebony
3.11=wood/heart.mahogany
3.12=wood/tile]-159
3.12=wood/heart.balsa
3.13=wood/heart.willow
3.14=wood/heart.walnut
3.15=wood/heart.greenheart
3.16=wood/heart.cherry

5.1=leaves/deciduous.plain
5.2=leaves/conifers.plain
5.3=leaves/jungle.plain
5.4=leaves/willow.plain

9.1=wood/tile]-143
9.4=wood/tile]-142