output=/mods/Metallurgy/textures/


1.1=blocks/Precious/ZincOre
1.2=blocks/Precious/SilverOre
1.3=blocks/Precious/PlatinumOre
1.16=blocks/Precious/ZincBlock

2.1=blocks/Precious/ZincBricks
2.2=blocks/Precious/SilverBricks
2.3=blocks/Precious/PlatinumBricks

2.16=blocks/Precious/SilverBlock

3.16=blocks/Precious/PlatinumBlock

4.1=items/Precious/ZincDust
4.2=items/Precious/SilverDust
4.3=items/Precious/PlatinumDust

5.1=items/Precious/ZincIngot
5.2=items/Precious/SilverIngot
5.3=items/Precious/PlatinumIngot

6.2=items/Precious/SilverAxe
6.3=items/Precious/PlatinumAxe

7.2=items/Precious/SilverHoe
7.3=items/Precious/PlatinumHoe

8.2=items/Precious/SilverPick
8.3=items/Precious/PlatinumPick

9.2=items/Precious/SilverShovel
9.3=items/Precious/PlatinumShovel

10.2=items/Precious/SilverSword
10.3=items/Precious/PlatinumSword
