output=/mods/Metallurgy/textures/


1.16=blocks/Nether/InolashiteBlock

2.1=blocks/Nether/ShadowSteelBrick
2.2=blocks/Nether/InolashiteBrick
2.3=blocks/Nether/AmordrineBrick

2.16=blocks/Nether/AmordrineBlock
3.16=blocks/Nether/ShadowSteelBlock

4.1=items/Nether/ShadowSteelDust
4.2=items/Nether/InolashiteDust
4.3=items/Nether/AmordrineDust

5.1=items/Nether/ShadowSteelIngot
5.2=items/Nether/InolashiteIngot
5.3=items/Nether/AmordrineIngot

6.1=items/Nether/ShadowSteelAxe
6.2=items/Nether/InolashiteAxe
6.3=items/Nether/AmordrineAxe

7.1=items/Nether/ShadowSteelHoe
7.2=items/Nether/InolashiteHoe
7.3=items/Nether/AmordrineHoe

8.1=items/Nether/ShadowSteelPick
8.2=items/Nether/InolashitePick
8.3=items/Nether/AmordrinePick

9.1=items/Nether/ShadowSteelShovel
9.2=items/Nether/InolashiteShovel
9.3=items/Nether/AmordrineShovel

10.1=items/Nether/ShadowSteelSword
10.2=items/Nether/InolashiteSword
10.3=items/Nether/AmordrineSword
