output=/mods/Metallurgy/textures/

1.16=blocks/Fantasy/BlackSteelBlock

2.1=blocks/Fantasy/BlackSteelBrick
2.2=blocks/Fantasy/QuicksilverBrick
2.3=blocks/Fantasy/TartariteBrick
2.4=blocks/Fantasy/CelenegilBrick
2.5=blocks/Fantasy/HaderothBrick

2.16=blocks/Fantasy/QuicksilverBlock

4.1=items/Fantasy/BlackSteelDust
4.2=items/Fantasy/QuicksilverDust
4.3=items/Fantasy/TartariteDust
4.4=items/Fantasy/CelenegilDust
4.5=items/Fantasy/HaderothDust
3.16=blocks/Fantasy/TartariteBlock
4.16=blocks/Fantasy/CelenegiBlock

5.1=items/Fantasy/BlackSteelIngotDust
5.2=items/Fantasy/QuicksilverDust
5.3=items/Fantasy/TartariteDust
5.4=items/Fantasy/CelenegilDust
5.5=items/Fantasy/HaderothDust
5.16=blocks/Fantasy/HaderothBlock

6.1=items/Fantasy/BlackSteelAxe
6.2=items/Fantasy/QuicksilverAxe
6.3=items/Fantasy/TartariteAxe
6.4=items/Fantasy/CelenegilAxe
6.5=items/Fantasy/HaderothAxe

7.1=items/Fantasy/BlackSteelHoe
7.2=items/Fantasy/QuicksilverHoe
7.3=items/Fantasy/TartariteHoe
7.4=items/Fantasy/CelenegilHoe
7.5=items/Fantasy/HaderothHoe

8.1=items/Fantasy/BlackSteelPick
8.2=items/Fantasy/QuicksilverPick
8.3=items/Fantasy/TartaritePick
8.4=items/Fantasy/CelenegilPick
8.5=items/Fantasy/HaderothPick

9.1=items/Fantasy/BlackSteelShovel
9.2=items/Fantasy/QuicksilverShovel
9.3=items/Fantasy/TartariteShovel
9.4=items/Fantasy/CelenegilShovel
9.5=items/Fantasy/HaderothShovel

10.1=items/Fantasy/BlackSteelSword
10.2=items/Fantasy/QuicksilverSword
10.3=items/Fantasy/TartariteSword
10.4=items/Fantasy/CelenegilSword
10.5=items/Fantasy/HaderothSword
