output=/mods/Metallurgy/textures/


1.1=blocks/Nether/IgnatiousOre
1.2=blocks/Nether/ShadowIronOre
1.3=blocks/Nether/MidasiumOre
1.4=blocks/Nether/VyroxeresOre
1.5=blocks/Nether/CeruclaseOre
1.6=blocks/Nether/KalendriteOre
1.7=blocks/Nether/VulcaniteOre
1.8=blocks/Nether/SanguiniteOre
1.9=blocks/Nether/LemuriteOre
1.10=blocks/Nether/AlduoriteOre

1.16=blocks/Nether/IgnatiousBlock

2.1=blocks/Nether/IgnatiousBrick
2.2=blocks/Nether/ShadowIronBrick
2.3=blocks/Nether/MidasiumBrick
2.4=blocks/Nether/VyroxeresBrick
2.5=blocks/Nether/CeruclaseBrick
2.6=blocks/Nether/KalendriteBrick
2.7=blocks/Nether/VulcaniteBrick
2.8=blocks/Nether/SanguiniteBrick
2.9=blocks/Nether/LemuriteBrick
2.10=blocks/Nether/AlduoriteBrick

2.16=blocks/Nether/ShadowIronBlock

3.16=blocks/Nether/MidasiumBlock


4.1=items/Nether/IgnatiousDust
4.2=items/Nether/ShadowIronDust
4.3=items/Nether/MidasiumDust
4.4=items/Nether/VyroxeresDust
4.5=items/Nether/CeruclaseDust
4.6=items/Nether/KalendriteDust
4.7=items/Nether/VulcaniteDust
4.8=items/Nether/SanguiniteDust
4.9=items/Nether/LemuriteDust
4.10=items/Nether/AlduoriteDust
4.16=blocks/Nether/VyroxeresBlock

5.1=items/Nether/IgnatiousIngot
5.2=items/Nether/ShadowIronIngot
5.3=items/Nether/MidasiumIngot
5.4=items/Nether/VyroxeresIngot
5.5=items/Nether/CeruclaseIngot
5.6=items/Nether/KalendriteIngot
5.7=items/Nether/VulcaniteIngot
5.8=items/Nether/SanguiniteIngot
5.9=items/Nether/LemuriteIngot
5.10=items/Nether/AlduoriteIngot
5.16=blocks/Nether/CeruclaseIngot

6.1=items/Nether/IgnatiousAxe
6.2=items/Nether/ShadowIronAxe
6.3=items/Nether/MidasiumAxe
6.4=items/Nether/VyroxeresAxe
6.5=items/Nether/CeruclaseAxe
6.6=items/Nether/KalendriteAxe
6.7=items/Nether/VulcaniteAxe
6.8=items/Nether/SanguiniteAxe
6.16=blocks/Nether/KalendriteAxe

7.1=items/Nether/IgnatiousHoe
7.2=items/Nether/ShadowIronHoe
7.3=items/Nether/MidasiumHoe
7.4=items/Nether/VyroxeresHoe
7.5=items/Nether/CeruclaseHoe
7.6=items/Nether/KalendriteHoe
7.7=items/Nether/VulcaniteHoe
7.8=items/Nether/SanguiniteHoe
7.16=blocks/Nether/VulcaniteHoe

8.1=items/Nether/IgnatiousPick
8.2=items/Nether/ShadowIronPick
8.3=items/Nether/MidasiumPick
8.4=items/Nether/VyroxeresPick
8.5=items/Nether/CeruclasePick
8.6=items/Nether/KalendritePick
8.7=items/Nether/VulcanitePick
8.8=items/Nether/SanguinitePick
8.16=blocks/Nether/SanguinitePick

9.1=items/Nether/IgnatiousShovel
9.2=items/Nether/ShadowIronShovel
9.3=items/Nether/MidasiumShovel
9.4=items/Nether/VyroxeresShovel
9.5=items/Nether/CeruclaseShovel
9.6=items/Nether/KalendriteShovel
9.7=items/Nether/VulcaniteShovel
9.8=items/Nether/SanguiniteShovel
9.16=blocks/Nether/LemuriteShovel

10.1=items/Nether/IgnatiousSword
10.2=items/Nether/ShadowIronSword
10.3=items/Nether/MidasiumSword
10.4=items/Nether/VyroxeresSword
10.5=items/Nether/CeruclaseSword
10.6=items/Nether/KalendriteSword
10.7=items/Nether/VulcaniteSword
10.8=items/Nether/SanguiniteSword
10.16=blocks/Nether/AlduoriteSword