output=/mods/Metallurgy/textures/

1.1=blocks/Ender/EximiteOre
1.2=blocks/Ender/MeutoiteOre
1.16=blocks/Ender/EximiteBlock

2.1=blocks/Ender/EximiteBricks
2.2=blocks/Ender/MeutoiteBricks
2.16=blocks/Ender/MeutoiteBlock

4.1=items/Ender/EximiteDust
4.2=items/Ender/MeutoiteDust
5.1=items/Ender/EximiteIngot
5.2=items/Ender/MeutoiteIngot
6.1=items/Ender/EximiteAxe
7.1=items/Ender/EximiteHoe
8.1=items/Ender/EximitePick
9.1=items/Ender/EximiteShovel
10.1=items/Ender/EximiteSword