output=/mods/Metallurgy/textures/

1.16=blocks/Base/BronzeBlock
2.16=blocks/Base/HepatizonBlock
3.16=blocks/Base/DamascusBlock
4.16=blocks/Base/AngmallenBlock
5.16=blocks/Base/SteelBlock

2.1=blocks/Base/BronzeBrick
2.2=blocks/Base/HepatizonBrick
2.3=blocks/Base/DamascusBrick
2.4=blocks/Base/AngmallenBrick
2.5=blocks/Base/SteelBrick

4.1=items/Base/BronzeDust
4.2=items/Base/HepatizonDust
4.3=items/Base/DamascusDust
4.4=items/Base/AngmallenDust
4.5=items/Base/SteelDust

5.1=items/Base/BronzeIngot
5.2=items/Base/HepatizonIngot
5.3=items/Base/DamascusIngot
5.4=items/Base/AngmallenIngot
5.5=items/Base/SteelIngot

6.1=items/Base/BronzeAxe
6.2=items/Base/HepatizonAxe
6.3=items/Base/DamascusAxe
6.4=items/Base/AngmallenAxe
6.5=items/Base/SteelAxe

7.1=items/Base/BronzeHoe
7.2=items/Base/HepatizonHoe
7.3=items/Base/DamascusHoe
7.4=items/Base/AngmallenHoe
7.5=items/Base/SteelHoe

8.1=items/Base/BronzePick
8.2=items/Base/HepatizonPick
8.3=items/Base/DamascusPick
8.4=items/Base/AngmallenPick
8.5=items/Base/SteelPick

9.1=items/Base/BronzeShovel
9.2=items/Base/HepatizonShovel
9.3=items/Base/DamascusShovel
9.4=items/Base/AngmallenShovel
9.5=items/Base/SteelShovel

10.1=items/Base/BronzeSword
10.2=items/Base/HepatizonSword
10.3=items/Base/DamascusSword
10.4=items/Base/AngmallenSword
10.5=items/Base/SteelSword