output=/mods/Metallurgy/textures/


1.1=blocks/machines/lantern/GlassRed
1.2=blocks/machines/lantern/GlassGreen

1.5=blocks/machines/lantern/GlassDustRed
1.6=blocks/machines/lantern/GlassDustGreen


2.1=blocks/machines/lantern/GlassBlue
2.2=blocks/machines/lantern/GlassOrange

2.5=blocks/machines/lantern/GlassDustBlue
2.6=blocks/machines/lantern/GlassDustOrange


3.1=blocks/machines/lantern/GlassYellow
3.2=blocks/machines/lantern/GlassPurple

3.5=blocks/machines/lantern/GlassDustYellow
3.6=blocks/machines/lantern/GlassDustPurple


4.1=blocks/machines/lantern/GlassGrey
4.2=blocks/machines/lantern/GlassWhite

4.5=blocks/machines/lantern/GlassDustGrey
4.6=blocks/machines/lantern/GlassDustWhite

5.5=blocks/machines/lantern/GlassDust
