output=/mods/Metallurgy/textures/

1.1=blocks/Base/CopperOre
1.2=blocks/Base/TinOre
1.3=blocks/Base/ManganeseOre
1.16=blocks/Base/CopperBlock
2.1=blocks/Base/CopperBrick
2.2=blocks/Base/TinBrick
2.3=blocks/Base/ManganeseBrick
2.16=blocks/Base/TinBlock
3.16=blocks/Base/ManganeseBlock
4.1=items/Base/CopperDust
4.2=items/Base/TinDust
4.3=items/Base/ManganeseDust
5.1=items/Base/CopperIngot
5.2=items/Base/TinIngot
5.3=items/Base/ManganeseIngot
6.1=items/Base/CopperAxe
7.1=items/Base/CopperHoe
8.1=items/Base/CopperPick
9.1=items/Base/CopperShovel
10.1=items/Base/CopperSword
