output=/mods/Metallurgy/textures/

1.16=blocks/Precious/BrassBlock

2.1=blocks/Precious/Brass
2.2=blocks/Precious/Electrum

2.16=blocks/Precious/ElectrumBlock

4.1=items/Precious/BrassDust
4.2=items/Precious/ElectrumDust

5.1=items/Precious/BrassIngot
5.2=items/Precious/ElectrumIngot

6.1=items/Precious/BrassAxe
6.2=items/Precious/ElectrumAxe

7.1=items/Precious/BrassHoe
7.2=items/Precious/ElectrumHoe

8.1=items/Precious/BrassPick
8.2=items/Precious/ElectrumPick

9.1=items/Precious/BrassShovel
9.2=items/Precious/ElectrumShovel

10.1=items/Precious/BrassSword
10.2=items/Precious/ElectrumSword