output=/mods/Metallurgy/textures/


1.1=blocks/Fantasy/PrometheumOre
1.2=blocks/Fantasy/DeepIronOre
1.3=blocks/Fantasy/InfuscoliumOre
1.4=blocks/Fantasy/AtlarusOre
1.5=blocks/Fantasy/OureclaseOre
1.6=blocks/Fantasy/AstralOre
1.7=blocks/Fantasy/CarmotOre
1.8=blocks/Fantasy/MithrilOre
1.9=blocks/Fantasy/RubraciumOre
1.10=blocks/Fantasy/OrichalcumOre
1.11=blocks/Fantasy/AdamantiumOre

1.16=blocks/Fantasy/PrometheumBlock

2.1=blocks/Fantasy/PrometheumBrick
2.2=blocks/Fantasy/DeepIronBrick
2.3=blocks/Fantasy/InfuscoliumBrick
2.4=blocks/Fantasy/AtlarusBrick
2.5=blocks/Fantasy/OureclaseBrick
2.6=blocks/Fantasy/AstralBrick
2.7=blocks/Fantasy/CarmotBrick
2.8=blocks/Fantasy/MithrilBrick
2.9=blocks/Fantasy/RubraciumBrick
2.10=blocks/Fantasy/OrichalcumBrick
2.11=blocks/Fantasy/AdamantiumBrick
2.16=blocks/Fantasy/DeepIronBrick

3.16=blocks/Fantasy/InfuscoliumBlock

4.1=items/Fantasy/PrometheumDust
4.2=items/Fantasy/DeepIronDust
4.3=items/Fantasy/InfuscoliumDust
4.4=items/Fantasy/AtlarusDust
4.5=items/Fantasy/OureclaseDust
4.6=items/Fantasy/AstralDust
4.7=items/Fantasy/CarmotDust
4.8=items/Fantasy/MithrilDust
4.9=items/Fantasy/RubraciumDust
4.10=items/Fantasy/OrichalcumDust
4.11=items/Fantasy/AdamantiumDust
4.16=blocks/Fantasy/AtlarusBlockDust

5.1=items/Fantasy/PrometheumIngot
5.2=items/Fantasy/DeepIronIngot
5.3=items/Fantasy/InfuscoliumIngot
5.4=items/Fantasy/AtlarusIngot
5.5=items/Fantasy/OureclaseIngot
5.6=items/Fantasy/AstralIngot
5.7=items/Fantasy/CarmotIngot
5.8=items/Fantasy/MithrilIngot
5.9=items/Fantasy/RubraciumIngot
5.10=items/Fantasy/OrichalcumIngot
5.11=items/Fantasy/AdamantiumIngot

5.16=blocks/Fantasy/OureclaseBlock

6.1=items/Fantasy/PrometheumAxe
6.2=items/Fantasy/DeepIronAxe
6.4=items/Fantasy/AtlarusAxe
6.5=items/Fantasy/OureclaseAxe
6.6=items/Fantasy/AstralAxe
6.7=items/Fantasy/CarmotAxe
6.8=items/Fantasy/MithrilAxe
6.10=items/Fantasy/OrichalcumAxe
6.11=items/Fantasy/AdamantiumAxe

6.16=blocks/Fantasy/AstralBlock

7.1=items/Fantasy/PrometheumHoe
7.2=items/Fantasy/DeepIronHoe
7.4=items/Fantasy/AtlarusHoe
7.5=items/Fantasy/OureclaseHoe
7.6=items/Fantasy/AstralHoe
7.7=items/Fantasy/CarmotHoe
7.8=items/Fantasy/MithrilHoe
7.10=items/Fantasy/OrichalcumHoe
7.11=items/Fantasy/AdamantiumHoe

7.16=blocks/Fantasy/CarmotBlock

8.1=items/Fantasy/PrometheumPick
8.2=items/Fantasy/DeepIronPick
8.4=items/Fantasy/AtlarusPick
8.5=items/Fantasy/OureclasePick
8.6=items/Fantasy/AstralPick
8.7=items/Fantasy/CarmotPick
8.8=items/Fantasy/MithrilPick
8.10=items/Fantasy/OrichalcumPick
8.11=items/Fantasy/AdamantiumPick

8.16=blocks/Fantasy/MithrilBlock

9.1=items/Fantasy/PrometheumShovel
9.2=items/Fantasy/DeepIronShovel
9.4=items/Fantasy/AtlarusShovel
9.5=items/Fantasy/OureclaseShovel
9.6=items/Fantasy/AstralShovel
9.7=items/Fantasy/CarmotShovel
9.8=items/Fantasy/MithrilShovel
9.10=items/Fantasy/OrichalcumShovel
9.11=items/Fantasy/AdamantiumShovel

9.16=blocks/Fantasy/RubraciumBlock

10.1=items/Fantasy/PrometheumSword
10.2=items/Fantasy/DeepIronSword
10.4=items/Fantasy/AtlarusSword
10.5=items/Fantasy/OureclaseSword
10.6=items/Fantasy/AstralSword
10.7=items/Fantasy/CarmotSword
10.8=items/Fantasy/MithrilSword
10.10=items/Fantasy/OrichalcumSword
10.11=items/Fantasy/AdamantiumSword

10.16=blocks/Fantasy/OrichalcumBlock

11.16=blocks/Fantasy/AdamantiumBlock
