output=/mods/Metallurgy/textures/


1.16=blocks/Ender/DesichalkosBlock
2.1=blocks/Ender/DesichalkosBrick
4.1=items/Ender/DesichalkosDust
5.1=items/Ender/DesichalkosIngot
6.1=items/Ender/DesichalkosAxe
7.1=items/Ender/DesichalkosHoe
8.1=items/Ender/DesichalkosPick
9.1=items/Ender/DesichalkosShovel
10.1=items/Ender/DesichalkosSword