output=/mods/ComputerCraft/textures/
2.1=blocks/computer
2.2=blocks/computerCursor
2.3=blocks/computerTop
2.4=blocks/computerSide
2.6=blocks/computerAdvanced
2.7=blocks/computerCursorAdvanced
2.8=blocks/computerTopAdvanced
2.9=blocks/computerSideAdvanced

3.1=blocks/diskDrive
3.2=blocks/diskDriveSide
3.3=blocks/diskDriveAccepted
3.4=blocks/diskDriveTop
3.5=blocks/diskDriveRejected

4.1=blocks/wirelessModemFace
4.2=blocks/wirelessModemSide
4.2=blocks/wiredModemSidePeripheral
4.2=blocks/wiredModemSide
4.3=blocks/wirelessModemFaceOn
4.4=blocks/wirelessModemSideOn
4.4=blocks/wiredModemSidePeripheralOn
4.4=blocks/wiredModemSideOn

5.1=items/diskFrame
5.2=items/diskColour

6.1=blocks/monitor0
6.2=blocks/monitor1
6.3=blocks/monitor2
6.4=blocks/monitor3
6.5=blocks/monitor4
6.6=blocks/monitor5
6.7=blocks/monitor6
6.8=blocks/monitor7
6.16=blocks/monitor15

7.1=blocks/monitor16
7.2=blocks/monitor17
7.3=blocks/monitor18
7.4=blocks/monitor19
7.5=blocks/monitor20
7.6=blocks/monitor21
7.7=blocks/monitor22
7.8=blocks/monitor23
7.9=blocks/monitor24
7.10=blocks/monitor25
7.11=blocks/monitor26
7.12=blocks/monitor27
7.13=blocks/monitor28
7.14=blocks/monitor29
7.15=blocks/monitor30
7.16=blocks/monitor31

8.1=blocks/monitor32
8.2=blocks/monitor33
8.3=blocks/monitor34
8.4=blocks/monitor35
8.5=blocks/monitor36
8.6=blocks/monitor37
8.7=blocks/monitor38
8.8=blocks/monitor39
8.9=blocks/monitor40
8.10=blocks/monitor41
8.11=blocks/monitor42
8.12=blocks/monitor43
8.13=blocks/monitor44
8.14=blocks/monitor45
8.15=blocks/monitor46
8.16=blocks/monitor47

9.1=blocks/craftingUpgrade

10.1=blocks/printerEmpty
10.2=blocks/printerTopTray
10.3=blocks/printerBottomTray
10.4=blocks/printerBoth
10.5=blocks/printerSide
10.6=blocks/printerTop

11.1=items/page
11.2=items/pageBundle
11.3=items/book

12.1=blocks/advMonitor0
12.2=blocks/advMonitor1
12.3=blocks/advMonitor2
12.4=blocks/advMonitor3
12.5=blocks/advMonitor4
12.6=blocks/advMonitor5
12.7=blocks/advMonitor6
12.8=blocks/advMonitor7
12.16=blocks/advMonitor15

13.1=blocks/advMonitor16
13.2=blocks/advMonitor17
13.3=blocks/advMonitor18
13.4=blocks/advMonitor19
13.5=blocks/advMonitor20
13.6=blocks/advMonitor21
13.7=blocks/advMonitor22
13.8=blocks/advMonitor23
13.9=blocks/advMonitor24
13.10=blocks/advMonitor25
13.11=blocks/advMonitor26
13.12=blocks/advMonitor27
13.13=blocks/advMonitor28
13.14=blocks/advMonitor29
13.15=blocks/advMonitor30
13.16=blocks/advMonitor31

14.1=blocks/advMonitor32
14.2=blocks/advMonitor33
14.3=blocks/advMonitor34
14.4=blocks/advMonitor35
14.5=blocks/advMonitor36
14.6=blocks/advMonitor37
14.7=blocks/advMonitor38
14.8=blocks/advMonitor39
14.9=blocks/advMonitor40
14.10=blocks/advMonitor41
14.11=blocks/advMonitor42
14.12=blocks/advMonitor43
14.13=blocks/advMonitor44
14.14=blocks/advMonitor45
14.15=blocks/advMonitor46
14.16=blocks/advMonitor47