output=/textures/items/

1.1=fcItemBucketCement
1.2=fcItemNethercoal
1.3=fcItemSeedsHemp
1.4=fcItemHemp
1.5=fcItemGear
1.6=fcItemFlour
1.7=fcItemFibersHemp
1.8=fcItemLeatherScoured
1.9=fcItemDonut
1.10=fcItemRope
1.11=fcItemSlats
1.12=fcItemDung
1.13=fcItemWaterWheel
1.14=fcItemWindMillVertical
1.15=fcItemWindMill
1.16=fcItemFabric

2.1=fcItemGrate
2.2=fcItemWicker
2.3=fcItemLeatherTanned
2.4=fcItemStrap
2.5=fcItemBelt
2.6=fcItemPileGravel
2.7=fcItemBladeWood
2.8=fcItemPileDirt
2.9=fcItemDungGolden
2.10=fcItemHaft
2.11=fcItemIngotSteel
2.12=fcItemPickAxeRefined
2.13=fcItemShovelRefined
2.14=fcItemHoeRefined
2.15=fcItemAxeBattle
2.16=fcItemSwordRefined

3.1=Unknown/fcItem01
3.2=fcItemDustHellfire
3.3=fcItemConcentratedHellfire
3.4=fcItemArmorPlate
3.5=fcItemHelmetPlate
3.6=fcItemChestplatePlate
3.7=fcItemLeggingsPlate
3.8=fcItemBootsPlate
3.9=fcItemBowComposite
3.10=fcItemArrowheadBroadhead
3.11=fcItemArrowBroadhead
3.12=fcItemDustCoal
3.13=fcItemPadding
3.14=fcItemFilament
3.15=fcItemRedstoneEye
3.16=fcItemUrn

4.1=fcItemUrnSoul
4.2=fcItemPotatoBoiled
4.3=fcItemDustCoal
4.4=fcItemSoap
4.5=fcItemDustSoul
4.6=fcItemGimpHelm
4.7=fcItemGimpChest
4.8=fcItemGimpLeggins
4.9=fcItemGimpBoots
4.10=fcItemBowComposite_pull_0
4.11=fcItemBowComposite_pull_1
4.12=fcItemBowCopostite_pull_2
4.13=fcItemDynamite
4.14=fcItemHarnessBreeding
4.15=fcItemDustSoul
4.16=fcItemMattock

5.1=fcItemHatchetRefined
5.2=fcItemNetherGround
5.3=fcItemBrickNether
5.4=fcItemTuningFork
5.5=fcItemMail
5.6=fcItemCandle
5.7=fcItemSporesNetherGroth
5.8=fcItemMould
5.9=fcItemCanvas
5.10=fcItemNetherrackGround
5.11=fcItemEggRaw
5.12=fcItemEggPoache
5.13=fcItemScrew
5.14=fcItemArrowRotten
5.15=fcItemOcularOfEnder
5.16=Unknown/fcItem02