output=/textures/blocks/

1.1=Unknown/fcBlock01
1.2=Unknown/fcBlock02
1.3=FCBlockPackedEarth
1.4=Unknown/fcBlock03
1.5=fcBlockLightBlock
1.6=fcBlockLightBlock_lit
1.7=fcBlockBlockDispenser_top
1.8=fcBlockBlockDispenser_front
1.9=fcBlockBlockDispenser_side
1.10=fcBlockBlockDispenser_bottom
1.11=fcBlockDetectorBlock_top
1.12=fcBlockDetectorBlock_front
1.13=fcBlockDetectorBlock_front_on
1.14=fcBlockDetectorBlock_side
1.15=fcBlockDetectorBlock_bottom
1.16=fcBlockCement_drying

2.1=fcBlockCement
2.2=fcBlockCauldron_top
2.3=fcBlockCauldron_bottom
2.4=fcBlockCauldron_side
2.5=fcBlockCompanionCube
2.6=fcBlockCompanionCube_front
2.7=fcBlockCompanionCube_guts
2.8=fcBlockDetectorRailWood
2.9=fcBlockDetectorRailObsidian
2.10=fcBlockMillStone_bottom
2.11=fcBlockMillStone_side
2.12=fcBlockMillStone_top
2.13=fcBlockHankCrank_shaft
2.14=fcBlockHandCrank_top
2.15=fcBlockHandCrank_side
2.16=fcBlockHandCrank_bottom

3.1=fcBlockRope
3.2=fcBlockAxel_side
3.3=fcBlockSaw_front
3.4=fcBlockSaw
3.5=fcBlockGearBox_input
3.6=fcBlockGearBox_output
3.7=fcBlockGearBox
3.8=fcBlockAnchor_nub
3.9=fcBlockAnchor_front
3.10=fcBlockAnchor
3.11=fcBlockCrucible_top
3.12=fcBlockCrucible_side
3.13=fcBlockCrucible_bottom
3.14=fcBlockCrucible_contents
3.15=fcBlockHopper_bottom
3.16=fcBlockHopper_side

4.1=fcBlockHopper_top
4.2=fcBlockHopper_contents
4.3=fcBlockHopper_ladder
4.4=fcBlockHopper_trap
4.5=fcBlockHopper_grate
4.6=fcBlockHopper_slats
4.7=fcBlockHopper_wicker
4.8=fcBlockHopper_soulsand
4.9=Unknown/fcBlock04
4.10=Unknown/fcBlock05
4.11=Unknown/fcBlock06
4.12=fcBlockHibachi_top
4.13=fcBlockHibachi_side
4.14=fcBlockHibachi_bottom
4.15=fcBlockPully_top
4.16=fcBlockPully_side

5.1=fcBlockPully_bottom
5.2=fcBlockTurntable_top
5.3=fcBlockTurntable_side
5.4=fcBlockTurntable_bottom
5.5=fcBlockBellows_top
5.6=fcBlockBellows_front
5.7=fcBlockBellows_side
5.8=fcBlockBellows_bottom
5.9=Unknown/fcBlock07
5.10=Unknown/fcBlock08
5.11=Unknown/fcBlock09
5.12=Unknown/fcBlock10
5.13=Unknown/fcBlock11
5.14=fcBlockPlanter
5.15=fcBlockPlanter_top_soil
5.16=Unknown/fcBlock12

6.1=fcBlockBuddyBlock
6.2=fcBlockBuddyBlock_on
6.3=fcBlockBuddyBlock_front
6.4=fcBlockBuddyBlock_front_on
6.5=fcBlockMiningCharge_bottom
6.6=fcBlockMiningCharge_side
6.7=fcBlockMiningCharge_side_vert
6.8=fcBlockMiningCharge_top
6.9=Unknown/fcBlock13
6.10=fcBlockColumnStone_top
6.11=fcBlockColumnStone_side
6.12=fcBlockPedestalStone_top
6.13=fcBlockPedestalStone_side
6.14=Unknown/fcBlock14
6.15=Unknown/fcBlock15
6.16=fcBlockWicker

7.1=Unknown/fcBlock16
7.2=fcBlockAnvil
7.3=fcBlockConcentratedHellfire
7.4=fcBlockChoppingBlock
7.5=fcBlockSoap_top
7.6=fcBlockSoap
7.7=fcBlockRope_top
7.8=fcBlockRope_side
7.9=fcBlockGrate
7.10=fcBlockVineTrap
7.11=fcBlockBloodWood
7.12=fcBlockBloodWood_side
7.13=fcBlockSaplingBloodWood
7.14=fcBlockLeavesBloodWood_old
7.15=Unknown/fcBlock17
7.16=fcBlockPlanter_top_soulsand

8.1=fcBlockLens_output
8.2=fcBlockLens
8.3=fcBlockLens_input
8.4=fcBlockLens_spotlight
8.5=Unknown/fcBlock18
8.6=Unknown/fcBlock19
8.7=Unknown/fcBlock20
8.8=Unknown/fcBlock21
8.9=Unknown/fcBlock22
8.10=fcBlockInfernalEnchanter_top
8.11=fcBlockInfernalEnchanter_side
8.12=fcBlockInfernalEnchanter_bottom
8.13=fcBlockNetherrackGrothed_top
8.14=fcBlockNetherrackGrothed_side
8.15=fcBlockNetherrackGrothed_bottom
8.16=Unknown/fcBlock23

9.1=Unknown/fcBlock24
9.2=Unknown/fcBlock25
9.3=Unknown/fcBlock26
9.4=Unknown/fcBlock27
9.5=Unknown/fcBlock28
9.6=Unknown/fcBlock29
9.7=FCBlockSlabDirt_grass_side
9.8=FCBlockSlabDirt_grass_side_overlay
9.9=FCBlockFarmlandFertilized_wet
9.10=FCBlockFarmlandFertilized_dry
9.11=fcBlockScrewPump_top
9.12=fcBlockScrewPump_front
9.13=fcBlockScrewPump_side
9.14=fcBlockScrewPump_bottom
9.15=fcBlockStake_top
9.16=fcBlockStake_top_string

10.1=fcBlockStake_side
10.2=fcBlockStake_side_string
10.3=fcBlockStakeString
10.4=fcBlockPlanter_top_fertilized
10.5=fcBlockWhiteStone
10.6=fcBlockWhiteCobble
10.7=fcBlockBarrel_top
10.8=fcBlockBarrel_side
10.9=fcBlockPowderKeg_top
10.10=fcBlockPowderKeg_side
10.11=fcBlockPowderKeg_bottom
10.12=fcBlockColumnWhiteStone_side
10.13=fcBlockChoppingBlock_dirty
10.14=fcBlockDecorativeBlackStone
10.15=fcBlockDecorativeNetherBrick
10.16=fcBlockColumnNetherBrick_side

11.1=fcBlockDecorativeBrick
11.2=fcBlockColumnBrick_side
11.3=fcBlockDecorativeSandstone_top
11.4=fcBlockDecorativeSandstone_side
11.5=fcBlockDecorativeSandstone_bottom
11.6=fcBlockColumnSandstone_side
11.7=fcBlockDecorativeStoneBrick
11.8=fcBlockColumnStoneBrick_side
11.9=fcBlockDecorativeWoodOak
11.10=fcBlockColumnWoodOak_side
11.11=fcBlockDecorativeWoodSpruce
11.12=fcBlockColumnWoodSpruce_side
11.13=fcBlockDecorativeWoodBirch
11.14=fcBlockColumnWoodBirch_side
11.15=fcBlockDecorativeWoodJungle
11.16=fcBlockColumnWoodJungle_side

15.1=fcBlockCandle_c00
15.1=fcBlockVase_c00
15.2=fcBlockCandle_c15
15.2=fcBlockVase_c01
15.3=fcBlockCandle_c01
15.3=fcBlockVase_c02
15.4=fcBlockCandle_c02
15.4=fcBlockVase_c03
15.5=fcBlockCandle_c03
15.5=fcBlockVase_c04
15.6=fcBlockCandle_c04
15.6=fcBlockVase_c05
15.7=fcBlockCandle_c05
15.7=fcBlockVase_c06
15.8=fcBlockCandle_c06
15.8=fcBlockVase_c07
15.9=fcBlockCandle_c07
15.9=fcBlockVase_c08
15.10=fcBlockCandle_c08
15.10=fcBlockVase_c09
15.11=fcBlockCandle_c09
15.11=fcBlockVase_c10
15.12=fcBlockCandle_c10
15.12=fcBlockVase_c11
15.13=fcBlockCandle_c11
15.13=fcBlockVase_c12
15.14=fcBlockCandle_c06
15.14=fcBlockVase_c13
15.15=fcBlockCandle_c13
15.15=fcBlockVase_c14
15.16=fcBlockCandle_c14
15.16=fcBlockVase_c15

16.1=fcBlockHemp_bottom_00
16.2=fcBlockHemp_bottom_01
16.3=fcBlockHemp_bottom_02
16.4=fcBlockHemp_bottom_03
16.5=fcBlockHemp_bottom_04
16.6=fcBlockHemp_bottom_05
16.7=fcBlockHemp_bottom_06
16.8=fcBlockHemp_bottom_07
16.9=fcBlockHemp_top