output=/mods/gravisuite/textures/items/
 
1.1=itemGraviChestPlate
1.2=itemUltimateLappack
1.3=itemSuperconductorCover
1.4=itemSuperconductor
1.5=itemCoolingCore
1.6=itemGraviEngine
1.7=itemUltimateSolarHelmet
1.8=itemVajra
1.9=itemAdvancedDDrill
1.10=itemAdvancedChainsaw
1.11=itemAdvancedLappack
1.12=itemMagnetron
1.13=itemVajraCore
1.14=itemAdvancedJetPack
1.15=itemEngineBoost
 
2.1=itemGraviToolHoe
2.2=itemGraviToolScrewdriver
2.3=itemGravitoolWrench