output=/mods/

1.1=/DenPipes/textures/blocks/valve_pipe
1.2=/DenPipes-Forestry/textures/blocks/placeholder/cobblestone_gold_waterproof
1.3=/DenPipes-Unused/stone_gold_watterproof
1.4=/DenPipes/textures/blocks/automatic_wooden_pipe
1.5=/DenPipes-Unused/sandstone_gold_waterproof
1.6=/DenPipes-Unused/unknown1_pipe
1.7=/DenPipes-Unused/cobblestone_industrial_waterproof
1.8=/DenPipes-Unused/stone_industrial_waterproof
1.9=/DenPipes-Unused/power_switch_pipe
1.10=/DenPipes-Unused/sandstone_gold_power_pipe
1.11=/DenPipes-Unused/unknown2_pipe
1.12=/DenPipes=Unused/overlay_unknown2_pipe
1.13=/DenPipes-Emerald/textures/blocks/automatic_emerald_pipe
1.14=/DenPipes-Emerald/textures/blocks/overlay_automatic_emerald_pipe
1.15=/DenPipes/textures/blocks/overlay_valve_pipe
1.16=/DenPipes/textures/blocks/automatic_wooden_pipe

2.1=/DenPipes/textures/items/icon_pump
2.2=/DenPipes/textures/items/icon_extract
2.3=/DenPipes-Forestry/textures/items/icons/icon_closed
2.4=/DenPipes-Unused/icon_open