output=/mods/advsolar/textures/items/

1.1=Sunnarium
1.2=SunnariumAlloy
1.3=IrradiantUranium
1.4=EnrichedSunnarium
1.5=EnrichedSunnariumAlloy
1.6=IrradiantGlassPane
1.7=IridiumIronPlate
1.8=ReinforcedIridiumIronPlate
1.9=IrradiantReinforcedPlate
1.10=SunnariumPart
1.11=IridiumIgnot
1.12=AdvSolarHelmet
1.13=HybridSolarHelmet
1.14=UltimateSolarHelmet