output=/mods/chargepads/textures/

1.1=blocks/lvBase
1.2=blocks/mvBase
1.3=blocks/hvBase
1.4=blocks/evBase

2.1=blocks/lvTop0
2.2=blocks/mvTop0
2.3=blocks/hvTop0
2.4=blocks/evTop0

3.1=blocks/lvSide
3.2=blocks/mvSide
3.3=blocks/hvSide
3.4=blocks/evSide

4.1=blocks/lvTop1
4.2=blocks/mvTop1
4.3=blocks/hvTop1
4.4=blocks/evTop1

5.1=items/mvKit
5.2=items/mfsUpg
5.3=items/hvKit
5.4=items/evKit

6.1=items/drain
6.2=items/damage
6.3=items/efficiency

7.1=items/proximity
7.2=items/wideband
7.3=items/armour

8.1=items/field.1
8.2=items/field.2
8.3=items/field.3
