output=/mods/factorization/textures/blocks/

1.1=default_icon
1.2=error
1.3=black
1.4=UNUSED_purple
1.5=material/edgeless_glass
1.7=material/iron_bar_grid
1.9=machine/heater_spiral
1.10=machine/heater_heat
1.12=charge/wire
1.15=machine/cauldron_side
1.15=machine/generic_metal

2.2=exo/modder_side
2.3=exo/modder_bottom
2.4=exo/modder_top
2.5=charge/battery_side
2.6=charge/battery_top
2.7=charge/battery_meter
2.8=charge/battery_bottom
2.9=material/wood
2.11=machine/cauldron_top
2.12=uv_test
2.13=charge/mirror_back
2.14=charge/mirror_front
2.15=mirror_side

3.1=resource/galena_ore
3.2=resource/silver_block
3.3=resource/lead_block
3.4=resource/dark_iron_block

4.1=router/FACE_TEMPLATE

5.1=router/top
5.2=router/bottom
5.3=machine/slag_furnace_bottom
5.3=machine/slag_furnace_top
5.4=machine/slag_furnace_side
5.5=machine/slag_furnace_face
5.6=machine/slag_furnace_face_on

6.1=router/south_off
6.2=router/north_off
6.3=router/east_off
6.4=router/west_off

7.1=router/south_on
7.2=router/north_on
7.3=router/east_on
7.4=router/west_on

8.1=craft/maker_top
8.2=craft/maker_side
8.3=craft/maker_side_on
8.4=craft/maker_bottom
8.4=craft/maker_top
8.6=craft/TEMPLATE1
8.8=craft/TEMPLATE2

9.1=craft/stamper_top
9.2=craft/stamper_side
9.3=craft/stamper_side_on
9.4=craft/stamper_TEMPLATE1
9.6=craft/maker_packager_BG
9.7=craft/maker_packager_ON_BG
9.8=craft/wood_plank

10.1=storage/barrel_bottom
10.1=storage/barrel_top
10.2=storage/barrel_side
10.3=storage/barrel_face
10.4=storage/ed_barrel_top
10.4=storage/ed_barrel_bottom
10.5=storage/ed_barrel_side
10.6=storage/ed_barrel_face
10.7=storage/barrel_SYMBOL

12.1=craft/packager_top
12.2=craft/packager_side
12.3=craft/packager_side_on

13.3=ceramics/stand
13.4=ceramics/dry