output=/mods/factorization/textures/items/

1.1=wrath_particle
1.3=craft/packet_incomplete
1.4=craft/packet_complete
1.5=tool/pocket_crafting_table
1.6=exo_chasis
1.7=charge_meter

2.6=tool/angular_saw
2.7=tool/matrix_programmer
2.10=heat_hole
2.11=logic_matrix
2.12=logic_matrix_identifier
2.13=logic_matrix_template

3.3=tool/wand_of_cooling
3.5=ore/gravel
3.6=ore/clean
3.7=ore/reduced
3.8=ore/crystal
3.9=sludge

4.1=diamond_shard
4.2=tool/wrath_igniter
4.3=dark_iron_ingot
4.4=lead_ingot
4.5=silver_ingot
4.7=magnet
4.8=insulated_coil
4.9=motor
4.10=fan
4.11=diamond_cutting_head

5.1=exo/armor0
5.7=ceramics/select
5.8=ceramics/move
5.9=ceramics/stretch
5.10=ceramics/delete
5.11=ceramics/rotate_local
5.11=ceramics/ROTATE
5.12=ceramics/reset
5.13=ceramics/rotate2
5.14=ceramics/TEMPLATE

6.1=exo/armor1

7.1=exo/armor2

8.1=exo/armor3

10.1=router/item_filter
10.2=router/machine_filter
10.3=router/speed
10.4=router/thorough
10.5=router/bandwidth
10.6=router/eject
10.7=barrel_upgrade
10.8=TEMPLATE_ROUTER
10.10=TINY_MACHINE

11.1=exo/buoyant_barrel
11.2=exo/cobbledrive
11.3=exo/mountedpiston
11.4=exo/wall_jump_boots

13.1=rocket/inverium_drop