output=/mods/railcraft/textures/

1.1=items/tool.steel.sword
1.2=blocks/ore.sulfur
1.3=items/dust.sulfur
1.7=items/part.railbed.wood
1.8=items/cart.bore
1.9=items/tool.crowbar
1.10=items/part.gear.gold.plate
1.11=items/armor.goggles
1.12=items/armor.overalls

2.1=items/tool.steel.shovel
2.2=blocks/ore.saltpeter
2.3=items/dust.saltpeter
2.7=items/part.tie.wood
2.8=items/tool.mag.glass
2.9=items/part.turbine.rotor
2.10=items/tool.whistle.tuner

3.1=items/tool.steel.pickaxe
3.4=items/part.plate.iron
3.7=items/part.railbed.stone
3.8=items/part.turbine.blade
3.9=items/part.turbine.disk

4.1=items/tool.steel.axe
4.4=items/part.plate.steel
4.7=items/part.tie.stone

5.1=items/tool.steel.hoe
5.4=items/part.plate.tin
5.7=items/fuel.coke

6.1=items/armor.steel.helmet
6.7=items/tool.surveyor
6.8=blocks/post.wood

7.1=items/armor.steel.plate
7.6=blocks/signal.box.capacitor
7.7=items/part.rail.reinforced
7.8=blocks/concrete
7.10=items/part.rail.standard

8.1=items/armor.steel.legs
8.6=blocks/signal.box.block.relay
8.7=items/tool.signal.tuner
8.8=blocks/signal.box.controller
8.9=blocks/signal.box.receiver
8.10=items/part.rail.advanced.png

9.1=items/armor.steel.boots
9.6=items/part.circuit.signal
9.7=items/part.signal.lamp
9.10=items/part.rail.speed

10.5=items/nugget.steel
10.6=items/part.gear.steel
10.7=items/part.circuit.controller
10.8=items/part.rail.wood
10.9=items/borehead.iron
10.10=items/part.rebar

11.1=items/cart.loco.steam.primary
11.5=items/nugget.iron
11.6=items/part.gear.iron
11.7=items/part.circuit.receiver
11.8=items/dust.charcoal
11.9=items/borehead.diamond
11.10=blocks/post.metal

12.1=items/cart.loco.steam.secondary
12.5=blocks/cube.steel
12.6=items/ingot.steel
12.7=items/dust.obsidian
12.8=items/ic2.upgrade.lapotron
12.9=items/borehead.steel

13.1=items/cart.tank
13.2=items/cart.tnt.wood
13.3=items/cart.track.relayer
13.4=items/cart.undercutter
13.5=items/cart.work
13.6=items/cart.anchor
13.7=items/cart.energy.batbox
13.8=items/cart.energy.mfe
13.9=items/cart.energy.mfsu
13.10=items/cart.pumpkin
13.11=items/cart.gift
13.12=items/cart.anchor.personal

14.7=blocks/cube.brick.sandy
14.8=blocks/cube.brick.infernal

15.4=blocks/cube.crushed.obsidian