output=/mods/railcraft/textures/items/

1.1=buildcraft.gate.trigger.work
1.2=buildcraft.gate.trigger.cart
1.3=buildcraft.gate.trigger.fuel
1.4=buildcraft.gate.trigger.maintenance

2.1=buildcraft.gate.action.pause
2.2=buildcraft.gate.action.sendcart

15.1=buildcraft.gate.trigger.temp.cold
15.2=buildcraft.gate.trigger.temp.warm
15.3=buildcraft.gate.trigger.temp.hot

16.1=buildcraft.gate.trigger.engine.blue
16.2=buildcraft.gate.trigger.engine.green
16.3=buildcraft.gate.trigger.engine.yellow
16.4=buildcraft.gate.trigger.engine.orange
16.5=buildcraft.gate.trigger.engine.red