output=/mods/twilightforest/textures/items/

1.1=nagaScale
1.2=liveRoot
1.3=twilightOrb
1.4=scepterTwilight
1.5=scepterLifeDrain
1.6=scepterUnused
1.6=scepterZombie
1.8=oreMeter
1.9=magicMap
1.10=enchantedMap
1.11=mazeMap
1.12=oreMap
1.13=tfFeather
1.14=magicMapFocus
1.15=mazeMapFocus
1.16=copperBlank

2.1=plateNaga
2.2=ironwoodRaw
2.4=torchberries
2.6=fieryBlood
2.7=hydraTrophy
2.8=transformPowder
2.9=emptyMagicMap
2.10=emptyEnchantedMap
2.11=emptyMazeMap
2.12=emptyOreMap
2.13=crumbleHorn
2.14=peacockFan
2.15=moonwormQueen
2.16=moonwormQueenAlt

3.1=legsNaga
3.2=ironwoodIngot
3.3=steeleafIngot
3.5=fieryIngot
3.8=towerKey
3.9=charmOfLife1
3.10=charmOfLife2
3.11=charmOfKeeping1
3.12=charmOfKeeping2
3.13=charmOfKeeping3
3.14=oreMagnet
3.15=oreMagnet1
3.16=oreMagnet2

4.2=ironwoodHelm
4.3=stealeafHelm
4.5=fieryHelm

5.2=ironwoodPlate
5.3=steeleafPlate
5.5=fieryPlate

6.2=ironwoodLegs
6.3=steeleafLegs
6.5=fieryLegs

7.2=ironwoodBoots
7.3=steeleafBoots
7.5=fieryBoots

8.2=ironwoodSword
8.3=steeleafSword
8.5=fierySword

9.2=ironwoodShovel
9.3=steeleafShovel

10.1=mazebreakerPick
10.2=ironwoodPick
10.3=steeleafPick
10.5=fieryPick

11.1=minotaurAxe
11.2=ironwoodAxe
11.3=steeleafAxe

12.2=ironwoodHoe
12.3=steeleafHoe