output=/mods/twilightforest/textures/blocks/
1.1=oak_top
1.2=oak_side
1.3=canopy_side
1.4=mangrove_side
1.5=TFFirefly
1.6=TFcicada
1.7=hedge
1.8=fireflyjar_top
1.9=fireflyjar_side
1.10=fireflyjar_cork
1.11=darkwood_leaves
1.12=
1.13=darkwood_side
1.14=rootBlock
1.15=oreRoots
1.16=

2.1=
2.2=
2.3=
2.4=
2.5=
2.6=
2.7=
2.8=
2.9=fiddlehead
2.10=mushgloom
2.11=
2.12=
2.13=
2.14=torchberry
2.15=rootstrand

3.8=uncrafting_top

4.1=firejet_top
4.2=firejet_side
4.5=TFMoonworm
4.8=uncrafting_side

5.1=nagastone_face_left
5.2=nagastone_face_right
5.3=nagastone_cross_section
5.4=nagastone_face_front
5.5=nagastone_top_tip
5.6=nagastone_tip_long
5.7=nagastone_bottom_tip
5.8=nagastone_bottom_long
5.9=nagastone_left_down
5.10=nagastone_right_down
5.11=nagastone_left_up
5.12=nagastone_right_up
5.13=nagastone_tip_left
5.14=nagastone_long_side
5.15=nagastone_tip_right
5.16=nagastone_turn_top

6.1=mazestone_plain
6.2=mazestone_brick
6.3=mazestone_pillar
6.4=mazestone_decorative
6.5=mazestone_cracked
6.6=mazestone_mossy
6.7=mazestone_mosaic
6.8=mazestone_border
6.9=time_leaves
6.10=
6.11=
6.12=
6.13=trans_leaves
6.14=
6.15=sort_leaves
6.16=

7.1=sapling_oak
7.2=sapling_canopy
7.3=sapling_mangrove
7.4=sapling_darkwood
7.5=sapling_hollow_oak
7.6=
7.7=
7.8=
7.9=
7.10=sapling_rainboak
7.11=
7.12=
7.13=
7.14=
7.15=
7.16=

8.1=time_side
8.2=time_section
8.3=time_clock
8.4=time_clock_off
8.5=trans_side
8.6=trans_section
8.7=trans_heart
8.8=trans_heart_off
8.9=mine_side
8.10=mine_section
8.11=mine_gem
8.12=mine_gem_off
8.13=sort_side
8.14=sort_section
8.15=sort_eye
8.16=sort_eye_off

9.1=towerwood_planks
9.2=towerwood_encased
9.3=towerwood_alt
9.4=towerwood_infested
9.5=towerwood_cracked
9.6=towerwood_mossy
9.7=
9.8=
9.9=
9.10=
9.11=
9.12=
9.13=
9.14=
9.15=
9.16=

10.1=towerdev_reappearing_off
10.2=towerdev_reappering_on
10.3=towerdev_vanish_off
10.4=towerdev_vanish_on
10.5=towerdev_lock_off
10.6=towerdev_lock_on
10.7=towerdev_builder_off
10.8=towerdev_builder_on
10.9=towerdev_builder_timeout
10.10=
10.11=
10.12=
10.13=
10.14=
10.15=
10.16=

11.1=towerdev_reappearing_trace_off
11.2=towerdev_reappearing_trace_on
11.3=towerdev_built_off
11.4=towerdev_built_on
11.5=towerdev_antibuilt