output=/mods/vswe/stevescarts/textures/blocks/

1.1=cargo_manager_top
1.2=cargo_manager_bot
1.3=cargo_manager_yellow
1.4=cargo_manager_green
1.5=cargo_manager_blue
1.6=cargo_manager_red
1.15=junction_rail_corner
1.16=advanced_detector_rail_corner

2.1=cart_assembler_top
2.2=cart_assembler_side_1
2.3=cart_assembler_side_2
2.4=cart_assembler_side_3
2.5=cart_assembler_side_4
2.6=cart_assembler_bot
2.15=junction_rail
2.16=advanced_detector_rail

3.1=module_toggler_top
3.2=module_toggler_side
3.3=module_toggler_bot

4.1=cargo_distributor_orange
4.2=cargo_distributor_purple
4.3=cargo_distributor_yellow
4.4=cargo_distributor_green
4.5=cargo_distributor_blue
4.6=cargo_distributor_red