output=/mods/magicbees/textures/

1.3=items/fragment
1.4=items/lump
1.5=items/fertilizer
1.6=items/nuggetIron
1.7=items/nuggetCopper
1.8=items/nuggetTin
1.9=items/nuggetSilver
1.10=items/nuggetLead
1.11=items/nuggetDiamond
1.12=items/nuggetEmerald

2.1=items/crystalAspect
2.4=items/jellyBabies
2.5=items/thaumiumScoop
2.6=items/thaumiumGrafter

3.1=items/frameMagic
3.2=items/frameResilient
3.3=items/frameGentle
3.4=items/frameMetabolic
3.5=items/frameNecrotic
3.6=items/frameTemporal
3.7=items/frameOblivion

4.1=blocks/greatwood
4.2=blocks/silverwood