output=/mods/magicbees/textures/

1.1=items/capsuleMagic
1.2=items/capsuleVoid

2.2=items/liquids/water
2.3=items/liquids/lava
2.4=items/liquids/biomass
2.5=items/liquids/biofuel
2.6=items/liquids/Oil
2.7=items/liquids/Fuel
2.8=items/liquids/seedoil
2.9=items/liquids/honey
2.10=items/liquids/acid
2.11=items/liquids/ice
2.12=items/liquids/milk
2.13=items/liquids/juice
2.14=items/liquids/poison
2.15=items/liquids/liquidNitrogen
2.16=items/liquids/liquidDNA

3.1=items/liquids/Creosote Oil
3.2=items/liquids/Steam