output=/mods/thaumcraft/textures/

1.1=blocks/furnace0
1.2=blocks/furnace1
1.3=blocks/furnace2
1.4=blocks/furnace3
1.5=blocks/furnace4
1.6=blocks/furnace5
1.7=blocks/furnace6
1.8=blocks/furnace7
1.9=#
1.10=blocks/crucible1
1.11=blocks/crucible2
1.12=blocks/crucible3
1.13=blocks/crucible4
1.14=blocks/crucible5
1.15=blocks/crucible6
1.16=blocks/metalbase


2.1=blocks/furnace9
2.2=blocks/furnace10
2.3=blocks/furnace11
2.4=blocks/furnace12
2.5=blocks/furnace13
2.6=blocks/furnace14
2.7=blocks/furnace15
2.8=blocks/furnace16
2.9=blocks/furnace17
2.10=blocks/adoortop
2.11=items/arcanedoor
2.13=#
2.16=#


3.1=blocks/furnace18
3.2=blocks/furnace19
3.3=blocks/furnace20
3.4=blocks/furnace21
3.5=blocks/furnace22
3.6=blocks/furnace23
3.8=blocks/furnace25
3.9=blocks/furnace26
3.10=blocks/adoorbot
3.11=items/keyiron
3.12=blocks/arcaneearsideoff
3.13=blocks/arcaneeartopoff
3.14=blocks/arcaneearbellside
3.15=blocks/arcaneearbottom
3.16=blocks/woodplain


4.1=blocks/infusion1
4.2=blocks/infusion2
4.3=blocks/infusion3
4.4=blocks/infusion4
4.5=blocks/infusion5
4.6=blocks/infusion6
4.7=blocks/infusionbase
4.8=blocks/applate1
4.9=blocks/applate2
4.10=blocks/applate3
4.11=items/keygold
4.12=blocks/arcaneearsideon
4.13=blocks/arcaneeartopon
4.14=blocks/arcaneearbelltop
4.16=blocks/goldbase


5.1=blocks/marker
5.2=blocks/markerinset
5.3=#
5.4=#
5.5=blocks/arcanewoodblock
5.6=#


6.1=blocks/liftertop
6.2=blocks/lifterside
6.5=#
6.6=#
6.7=#
6.8=#
6.9=#
6.16=#


7.1=blocks/wardedstone
7.16=#


8.1=blocks/mirrorframe
8.1=items/mirrorframe
8.2=blocks/mirrorpane
8.3=blocks/mirrorpanetrans
8.4=blocks/mirrorpaneopen
8.5=items/mirrorhand


9.1=items/wandapprentice
9.2=items/wandadept
9.3=items/wandthaumaturge
9.4=items/wandfire
9.5=items/wandlightning
9.6=items/wandfrost
9.7=items/wandexcavation
9.8=items/wandtrade
9.9=items/hellrod
9.12=items/researchnotesoverlay
9.13=items/discoveryoverlay
9.14=items/discovery
9.15=items/inkwell


10.1=items/gogglesrevealing
10.2=items/thaumiumhelm
10.3=items/thaumiumchest
10.4=items/thaumiumlegs
10.5=items/thaumiumboots
10.6=items/thaumiumsword
10.7=items/thaumiumshovel
10.8=items/thaumiumpick
10.9=items/thaumiumaxe
10.10=items/thaumiumhoe
10.15=items/thaumonomicon
10.16=misc/quill


11.3=items/clothchest
11.4=items/clothlegs
11.5=items/clothboots
11.14=#
11.15=#
11.16=#


12.1=items/phial
12.2=items/phialoverlay
12.3=items/shard
12.4=items/wispessence
12.6=items/golemcorebasic
12.7=items/golemcorespeed
12.8=items/golemcoresmart
12.9=items/golemcorestrong
12.10=items/golemcorevision
12.11=#


13.1=items/elementalsword
13.2=items/elementalshovel
13.3=items/elementalpick
13.4=items/elementalaxe
13.5=items/elementalhoe
13.6=items/golemtypefast
13.7=items/golemtypesmart
13.8=items/golemtypevision
13.9=items/golemtypestrong


14.1=items/portablehole
14.2=items/scanner
14.3=#
14.4=items/carpet
14.6=items/golemwood
14.7=items/golemclay
14.8=items/golemstone
14.9=items/golemtallow
14.10=items/golemstraw
14.11=items/golemclayadv
14.12=items/golemstoneadv
14.13=items/golemiron


15.1=items/bootstraveler
15.6=items/golemdecotophat
15.7=items/golemdecoglasses
15.8=items/golemdecobowtie
15.9=items/golemdecofez
15.10=items/golemdecodart
15.11=items/golemdecovisor
15.12=items/golemdecoarmor
15.13=#
15.15=#
15.16=#


16.15=#