output=/mods/thaumcraft/textures/

1.1=#
1.2=#
1.3=#
1.4=#
1.5=#


2.1=blocks/cinnibar
2.2=#
2.4=blocks/amberore
2.7=#


3.1=blocks/amberblock
3.2=blocks/amberbrick
3.3=blocks/wardedglass
3.10=blocks/obsidiantile
3.11=blocks/obsidiantotem1
3.12=blocks/obsidiantotem2
3.13=blocks/obsidiantotem3
3.14=blocks/obsidiantotem4
3.15=blocks/obsidiantotem5
3.16=blocks/obsidiantotem6


4.3=blocks/wardglassrune


5.1=blocks/greatwoodsapling
5.2=blocks/silverwoodsapling
5.3=blocks/shimmerleaf
5.4=blocks/cinderpearl
5.5=blocks/taintgrass1
5.6=blocks/taintgrass2


6.1=blocks/greatwoodleaves
6.2=blocks/greatwoodleaveslow
6.3=blocks/silverwoodleaves
6.4=blocks/silverwoodleaveslow

7.1=blocks/greatwoodside
7.2=blocks/greatwoodtop
7.3=blocks/silverwoodside
7.4=blocks/silverwoodtop


8.1=blocks/crystalframe


10.1=items/nuggetiron
10.2=items/nuggetcopper
10.3=items/nuggetsilver
10.4=items/nuggettin
10.5=items/nuggetlead
10.6=items/nuggetquicksilver


11.1=items/clusteriron
11.2=items/clustercopper
11.3=items/clustersilver
11.4=items/clustertin
11.5=items/clusterlead
11.16=items/clustergold


12.1=items/nuggetchicken
12.2=items/nuggetbeef
12.3=items/nuggetpork
12.16=#


13.1=items/tripletreat


14.1=items/alumentum
14.2=items/nitor
14.3=items/thaumiumingot
14.4=items/quicksilver
14.5=items/tallow
14.6=items/brain
14.7=items/amber
14.8=items/cloth
14.9=items/filter
14.10=items/knowledgefragment
14.11=items/mirrorglass