output=/textures/blocks/powercrystals/minefactoryreloaded/

1.1=tile.mfr.machine.planter.active.bottom
1.2=tile.mfr.machine.planter.active.top
1.3=tile.mfr.machine.planter.active.front
1.4=tile.mfr.machine.planter.active.back
1.5=tile.mfr.machine.planter.active.left
1.6=tile.mfr.machine.planter.active.right
1.7=tile.mfr.machine.planter.idle.bottom
1.8=tile.mfr.machine.planter.idle.top
1.9=tile.mfr.machine.planter.idle.front
1.10=tile.mfr.machine.planter.idle.back
1.11=tile.mfr.machine.planter.idle.left
1.12=tile.mfr.machine.planter.idle.right

2.1=tile.mfr.machine.fisher.active.bottom
2.2=tile.mfr.machine.fisher.active.top
2.3=tile.mfr.machine.fisher.active.front
2.4=tile.mfr.machine.fisher.active.back
2.5=tile.mfr.machine.fisher.active.left
2.6=tile.mfr.machine.fisher.active.right
2.7=tile.mfr.machine.fisher.idle.bottom
2.8=tile.mfr.machine.fisher.idle.top
2.9=tile.mfr.machine.fisher.idle.front
2.10=tile.mfr.machine.fisher.idle.back
2.11=tile.mfr.machine.fisher.idle.left
2.12=tile.mfr.machine.fisher.idle.right


3.1=tile.mfr.machine.harvester.active.bottom
3.2=tile.mfr.machine.harvester.active.top
3.3=tile.mfr.machine.harvester.active.front
3.4=tile.mfr.machine.harvester.active.back
3.5=tile.mfr.machine.harvester.active.left
3.6=tile.mfr.machine.harvester.active.right
3.7=tile.mfr.machine.harvester.idle.bottom
3.8=tile.mfr.machine.harvester.idle.top
3.9=tile.mfr.machine.harvester.idle.front
3.10=tile.mfr.machine.harvester.idle.back
3.11=tile.mfr.machine.harvester.idle.left
3.12=tile.mfr.machine.harvester.idle.right

4.1=tile.mfr.machine.rancher.active.bottom
4.2=tile.mfr.machine.rancher.active.top
4.3=tile.mfr.machine.rancher.active.front
4.4=tile.mfr.machine.rancher.active.back
4.5=tile.mfr.machine.rancher.active.left
4.6=tile.mfr.machine.rancher.active.right
4.7=tile.mfr.machine.rancher.idle.bottom
4.8=tile.mfr.machine.rancher.idle.top
4.9=tile.mfr.machine.rancher.idle.front
4.10=tile.mfr.machine.rancher.idle.back
4.11=tile.mfr.machine.rancher.idle.left
4.12=tile.mfr.machine.rancher.idle.right


5.1=tile.mfr.machine.fertilizer.active.bottom
5.2=tile.mfr.machine.fertilizer.active.top
5.3=tile.mfr.machine.fertilizer.active.front
5.4=tile.mfr.machine.fertilizer.active.back
5.5=tile.mfr.machine.fertilizer.active.left
5.6=tile.mfr.machine.fertilizer.active.right
5.7=tile.mfr.machine.fertilizer.idle.bottom
5.8=tile.mfr.machine.fertilizer.idle.top
5.9=tile.mfr.machine.fertilizer.idle.front
5.10=tile.mfr.machine.fertilizer.idle.back
5.11=tile.mfr.machine.fertilizer.idle.left
5.12=tile.mfr.machine.fertilizer.idle.right

6.1=tile.mfr.machine.vet.active.bottom
6.2=tile.mfr.machine.vet.active.top
6.3=tile.mfr.machine.vet.active.front
6.4=tile.mfr.machine.vet.active.back
6.5=tile.mfr.machine.vet.active.left
6.6=tile.mfr.machine.vet.active.right
6.7=tile.mfr.machine.vet.idle.bottom
6.8=tile.mfr.machine.vet.idle.top
6.9=tile.mfr.machine.vet.idle.front
6.10=tile.mfr.machine.vet.idle.back
6.11=tile.mfr.machine.vet.idle.left
6.12=tile.mfr.machine.vet.idle.right

7.1=tile.mfr.machine.itemcollector.active.bottom
7.2=tile.mfr.machine.itemcollector.active.top
7.3=tile.mfr.machine.itemcollector.active.front
7.4=tile.mfr.machine.itemcollector.active.back
7.5=tile.mfr.machine.itemcollector.active.left
7.6=tile.mfr.machine.itemcollector.active.right
7.7=tile.mfr.machine.itemcollector.idle.bottom
7.8=tile.mfr.machine.itemcollector.idle.top
7.9=tile.mfr.machine.itemcollector.idle.front
7.10=tile.mfr.machine.itemcollector.idle.back
7.11=tile.mfr.machine.itemcollector.idle.left
7.12=tile.mfr.machine.itemcollector.idle.right

8.1=tile.mfr.machine.blockbreaker.active.bottom
8.2=tile.mfr.machine.blockbreaker.active.top
8.3=tile.mfr.machine.blockbreaker.active.front
8.4=tile.mfr.machine.blockbreaker.active.back
8.5=tile.mfr.machine.blockbreaker.active.left
8.6=tile.mfr.machine.blockbreaker.active.right
8.7=tile.mfr.machine.blockbreaker.idle.bottom
8.8=tile.mfr.machine.blockbreaker.idle.top
8.9=tile.mfr.machine.blockbreaker.idle.front
8.10=tile.mfr.machine.blockbreaker.idle.back
8.11=tile.mfr.machine.blockbreaker.idle.left
8.12=tile.mfr.machine.blockbreaker.idle.right

9.1=tile.mfr.machine.weathercollector.active.bottom
9.2=tile.mfr.machine.weathercollector.active.top
9.3=tile.mfr.machine.weathercollector.active.front
9.4=tile.mfr.machine.weathercollector.active.back
9.5=tile.mfr.machine.weathercollector.active.left
9.6=tile.mfr.machine.weathercollector.active.right
9.7=tile.mfr.machine.weathercollector.idle.bottom
9.8=tile.mfr.machine.weathercollector.idle.top
9.9=tile.mfr.machine.weathercollector.idle.front
9.10=tile.mfr.machine.weathercollector.idle.back
9.11=tile.mfr.machine.weathercollector.idle.left
9.12=tile.mfr.machine.weathercollector.idle.right

10.1=tile.mfr.machine.sludgeboiler.active.bottom
10.2=tile.mfr.machine.sludgeboiler.active.top
10.3=tile.mfr.machine.sludgeboiler.active.front
10.4=tile.mfr.machine.sludgeboiler.active.back
10.5=tile.mfr.machine.sludgeboiler.active.left
10.6=tile.mfr.machine.sludgeboiler.active.right
10.7=tile.mfr.machine.sludgeboiler.idle.bottom
10.8=tile.mfr.machine.sludgeboiler.idle.top
10.9=tile.mfr.machine.sludgeboiler.idle.front
10.10=tile.mfr.machine.sludgeboiler.idle.back
10.11=tile.mfr.machine.sludgeboiler.idle.left
10.12=tile.mfr.machine.sludgeboiler.idle.right

11.1=tile.mfr.machine.sewer.active.bottom
11.2=tile.mfr.machine.sewer.active.top
11.3=tile.mfr.machine.sewer.active.front
11.4=tile.mfr.machine.sewer.active.back
11.5=tile.mfr.machine.sewer.active.left
11.6=tile.mfr.machine.sewer.active.right
11.7=tile.mfr.machine.sewer.idle.bottom
11.8=tile.mfr.machine.sewer.idle.top
11.9=tile.mfr.machine.sewer.idle.front
11.10=tile.mfr.machine.sewer.idle.back
11.11=tile.mfr.machine.sewer.idle.left
11.12=tile.mfr.machine.sewer.idle.right

12.1=tile.mfr.machine.composter.active.bottom
12.2=tile.mfr.machine.composter.active.top
12.3=tile.mfr.machine.composter.active.front
12.4=tile.mfr.machine.composter.active.back
12.5=tile.mfr.machine.composter.active.left
12.6=tile.mfr.machine.composter.active.right
12.7=tile.mfr.machine.composter.idle.bottom
12.8=tile.mfr.machine.composter.idle.top
12.9=tile.mfr.machine.composter.idle.front
12.10=tile.mfr.machine.composter.idle.back
12.11=tile.mfr.machine.composter.idle.left
12.12=tile.mfr.machine.composter.idle.right

13.1=tile.mfr.machine.breeder.active.bottom
13.2=tile.mfr.machine.breeder.active.top
13.3=tile.mfr.machine.breeder.active.front
13.4=tile.mfr.machine.breeder.active.back
13.5=tile.mfr.machine.breeder.active.left
13.6=tile.mfr.machine.breeder.active.right
13.7=tile.mfr.machine.breeder.idle.bottom
13.8=tile.mfr.machine.breeder.idle.top
13.9=tile.mfr.machine.breeder.idle.front
13.10=tile.mfr.machine.breeder.idle.back
13.11=tile.mfr.machine.breeder.idle.left
13.12=tile.mfr.machine.breeder.idle.right

14.1=tile.mfr.machine.grinder.active.bottom
14.2=tile.mfr.machine.grinder.active.top
14.3=tile.mfr.machine.grinder.active.front
14.4=tile.mfr.machine.grinder.active.back
14.5=tile.mfr.machine.grinder.active.left
14.6=tile.mfr.machine.grinder.active.right
14.7=tile.mfr.machine.grinder.idle.bottom
14.8=tile.mfr.machine.grinder.idle.top
14.9=tile.mfr.machine.grinder.idle.front
14.10=tile.mfr.machine.grinder.idle.back
14.11=tile.mfr.machine.grinder.idle.left
14.12=tile.mfr.machine.grinder.idle.right

15.1=tile.mfr.machine.autodisenchanter.active.bottom
15.2=tile.mfr.machine.autodisenchanter.active.top
15.3=tile.mfr.machine.autodisenchanter.active.front
15.4=tile.mfr.machine.autodisenchanter.active.back
15.5=tile.mfr.machine.autodisenchanter.active.left
15.6=tile.mfr.machine.autodisenchanter.active.right
15.7=tile.mfr.machine.autodisenchanter.idle.bottom
15.8=tile.mfr.machine.autodisenchanter.idle.top
15.9=tile.mfr.machine.autodisenchanter.idle.front
15.10=tile.mfr.machine.autodisenchanter.idle.back
15.11=tile.mfr.machine.autodisenchanter.idle.left
15.12=tile.mfr.machine.autodisenchanter.idle.right

16.1=tile.mfr.machine.chronotyper.active.bottom
16.2=tile.mfr.machine.chronotyper.active.top
16.3=tile.mfr.machine.chronotyper.active.front
16.4=tile.mfr.machine.chronotyper.active.back
16.5=tile.mfr.machine.chronotyper.active.left
16.6=tile.mfr.machine.chronotyper.active.right
16.7=tile.mfr.machine.chronotyper.idle.bottom
16.8=tile.mfr.machine.chronotyper.idle.top
16.9=tile.mfr.machine.chronotyper.idle.front
16.10=tile.mfr.machine.chronotyper.idle.back
16.11=tile.mfr.machine.chronotyper.idle.left
16.12=tile.mfr.machine.chronotyper.idle.right
