output=/textures/blocks/powercrystals/minefactoryreloaded

1.1=tile.mfr.machine.ejector.active.bottom
1.2=tile.mfr.machine.ejector.active.top
1.3=tile.mfr.machine.ejector.active.front
1.4=tile.mfr.machine.ejector.active.back
1.5=tile.mfr.machine.ejector.active.left
1.6=tile.mfr.machine.ejector.active.right
1.7=tile.mfr.machine.ejector.idle.bottom
1.8=tile.mfr.machine.ejector.idle.top
1.9=tile.mfr.machine.ejector.idle.front
1.10=tile.mfr.machine.ejector.idle.back
1.11=tile.mfr.machine.ejector.idle.left
1.12=tile.mfr.machine.ejector.idle.right

2.1=tile.mfr.machine.itemrouter.active.bottom
2.2=tile.mfr.machine.itemrouter.active.top
2.3=tile.mfr.machine.itemrouter.active.front
2.4=tile.mfr.machine.itemrouter.active.back
2.5=tile.mfr.machine.itemrouter.active.left
2.6=tile.mfr.machine.itemrouter.active.right
2.7=tile.mfr.machine.itemrouter.idle.bottom
2.8=tile.mfr.machine.itemrouter.idle.top
2.9=tile.mfr.machine.itemrouter.idle.front
2.10=tile.mfr.machine.itemrouter.idle.back
2.11=tile.mfr.machine.itemrouter.idle.left
2.12=tile.mfr.machine.itemrouter.idle.right


3.1=tile.mfr.machine.liquidrouter.active.bottom
3.2=tile.mfr.machine.liquidrouter.active.top
3.3=tile.mfr.machine.liquidrouter.active.front
3.4=tile.mfr.machine.liquidrouter.active.back
3.5=tile.mfr.machine.liquidrouter.active.left
3.6=tile.mfr.machine.liquidrouter.active.right
3.7=tile.mfr.machine.liquidrouter.idle.bottom
3.8=tile.mfr.machine.liquidrouter.idle.top
3.9=tile.mfr.machine.liquidrouter.idle.front
3.10=tile.mfr.machine.liquidrouter.idle.back
3.11=tile.mfr.machine.liquidrouter.idle.left
3.12=tile.mfr.machine.liquidrouter.idle.right

4.1=tile.mfr.machine.deepstorageunit.active.bottom
4.2=tile.mfr.machine.deepstorageunit.active.top
4.3=tile.mfr.machine.deepstorageunit.active.front
4.4=tile.mfr.machine.deepstorageunit.active.back
4.5=tile.mfr.machine.deepstorageunit.active.left
4.6=tile.mfr.machine.deepstorageunit.active.right
4.7=tile.mfr.machine.deepstorageunit.idle.bottom
4.8=tile.mfr.machine.deepstorageunit.idle.top
4.9=tile.mfr.machine.deepstorageunit.idle.front
4.10=tile.mfr.machine.rancher.idle.back
4.11=tile.mfr.machine.rancher.idle.left
4.12=tile.mfr.machine.rancher.idle.right


5.1=tile.mfr.machine.liquicrafter.active.bottom
5.2=tile.mfr.machine.liquicrafter.active.top
5.3=tile.mfr.machine.liquicrafter.active.front
5.4=tile.mfr.machine.liquicrafter.active.back
5.5=tile.mfr.machine.liquicrafter.active.left
5.6=tile.mfr.machine.liquicrafter.active.right
5.7=tile.mfr.machine.liquicrafter.idle.bottom
5.8=tile.mfr.machine.liquicrafter.idle.top
5.9=tile.mfr.machine.liquicrafter.idle.front
5.10=tile.mfr.machine.liquicrafter.idle.back
5.11=tile.mfr.machine.liquicrafter.idle.left
5.12=tile.mfr.machine.liquicrafter.idle.right

6.1=tile.mfr.machine.lavafabricator.active.bottom
6.2=tile.mfr.machine.lavafabricator.active.top
6.3=tile.mfr.machine.lavafabricator.active.front
6.4=tile.mfr.machine.lavafabricator.active.back
6.5=tile.mfr.machine.lavafabricator.active.left
6.6=tile.mfr.machine.lavafabricator.active.right
6.7=tile.mfr.machine.lavafabricator.idle.bottom
6.8=tile.mfr.machine.lavafabricator.idle.top
6.9=tile.mfr.machine.lavafabricator.idle.front
6.10=tile.mfr.machine.lavafabricator.idle.back
6.11=tile.mfr.machine.lavafabricator.idle.left
6.12=tile.mfr.machine.lavafabricator.idle.right

7.1=tile.mfr.machine.oilfabricator.active.bottom
7.2=tile.mfr.machine.oilfabricator.active.top
7.3=tile.mfr.machine.oilfabricator.active.front
7.4=tile.mfr.machine.oilfabricator.active.back
7.5=tile.mfr.machine.oilfabricator.active.left
7.6=tile.mfr.machine.oilfabricator.active.right
7.7=tile.mfr.machine.oilfabricator.idle.bottom
7.8=tile.mfr.machine.oilfabricator.idle.top
7.9=tile.mfr.machine.oilfabricator.idle.front
7.10=tile.mfr.machine.oilfabricator.idle.back
7.11=tile.mfr.machine.oilfabricator.idle.left
7.12=tile.mfr.machine.oilfabricator.idle.right

8.1=tile.mfr.machine.autojukebox.active.bottom
8.2=tile.mfr.machine.autojukebox.active.top
8.3=tile.mfr.machine.autojukebox.active.front
8.4=tile.mfr.machine.autojukebox.active.back
8.5=tile.mfr.machine.autojukebox.active.left
8.6=tile.mfr.machine.autojukebox.active.right
8.7=tile.mfr.machine.autojukebox.idle.bottom
8.8=tile.mfr.machine.autojukebox.idle.top
8.9=tile.mfr.machine.autojukebox.idle.front
8.10=tile.mfr.machine.autojukebox.idle.back
8.11=tile.mfr.machine.autojukebox.idle.left
8.12=tile.mfr.machine.autojukebox.idle.right

9.1=tile.mfr.machine.unifier.active.bottom
9.2=tile.mfr.machine.unifier.active.top
9.3=tile.mfr.machine.unifier.active.front
9.4=tile.mfr.machine.unifier.active.back
9.5=tile.mfr.machine.unifier.active.left
9.6=tile.mfr.machine.unifier.active.right
9.7=tile.mfr.machine.unifier.idle.bottom
9.8=tile.mfr.machine.unifier.idle.top
9.9=tile.mfr.machine.unifier.idle.front
9.10=tile.mfr.machine.unifier.idle.back
9.11=tile.mfr.machine.unifier.idle.left
9.12=tile.mfr.machine.unifier.idle.right

10.1=tile.mfr.machine.autospawner.active.bottom
10.2=tile.mfr.machine.autospawner.active.top
10.3=tile.mfr.machine.autospawner.active.front
10.4=tile.mfr.machine.autospawner.active.back
10.5=tile.mfr.machine.autospawner.active.left
10.6=tile.mfr.machine.autospawner.active.right
10.7=tile.mfr.machine.autospawner.idle.bottom
10.8=tile.mfr.machine.autospawner.idle.top
10.9=tile.mfr.machine.autospawner.idle.front
10.10=tile.mfr.machine.autospawner.idle.back
10.11=tile.mfr.machine.autospawner.idle.left
10.12=tile.mfr.machine.autospawner.idle.right