output=/mods/xreliquary/textures/items/

1.1=reliquaryHandgun

2.1=reliquaryMagazine

3.1=reliquaryBullet

4.1=emperorChalice
4.3=glowBread
4.4=glowWater
4.15=reliquaryPotionSplash
4.16=reliquaryPotion

6.1=gunPart0
6.2=gunPart1
6.3=gunPart3
6.4=sojournerStaff
6.5=mercyCross
6.6=fortuneCoin
6.7=#
6.8=midasTouchstone
6.9=icerod
6.10=reliquaryMagicbane
6.11=witherlessRose
6.12=holyHandGrenade
6.13=voidSatchel
6.14=destructionCatalyst
6.15=alkahest
6.16=alkahestTome

7.1=salamanderEyeOverlay3
7.2=salamanderEyeOverlay2
7.3=salamanderEyeOverlay1
7.4-salamanderEyeOverlay0
7.5=salamanderEyeOverlay
7.6=wraithEyeOverlay3
7.7=wraithEyeOverlay2
7.8=wraithEyeOverlay1
7.9=wraithEyeOverlay0
7.10=wraithEye
7.11=emptyVoidTear
7.12=voidTear