output=/mods/advancedmachines/textures/
copy=sprites/block_advmachine

1.1=blocks/bottom
1.4=items/refinedIronDust

2.1=blocks/topMaceratorOFF
2.2=blocks/topCompressor
2.2=blocks/topCompressorOFF
2.3=blocks/sideplate

3.3=blocks/sideExtractorOFF

4.1=blocks/frontMaceratorOFF
4.2=blocks/frontCompressorOFF
4.3=blocks/frontExtractorOFF

8.1=blocks/topMaceratorON
8.2=blocks/topCompressorON

9.3=blocks/sideExtractorON

10.1=blocks/frontMaceratorON
10.2=blocks/frontCompressorON
10.3=blocks/frontExtractorON