output=/textures/

1.1=blocks/YC_Iron
1.2=blocks/YC_Water detector
1.3=blocks/2
1.4=blocks/YC_Rain detector
1.5=blocks/YC_Stone
1.6=blocks/YC_Door state detector
1.7=blocks/YC_Pressure plate
1.8=blocks/YC_Lava detector
1.9=blocks/YC_Time detector
1.10=blocks/YC_Block detector
1.11=blocks/YC_Block Shard Generator
1.12=blocks/YC_Research table
1.13=blocks/YC_Chest1
1.14=blocks/YC_ChestSide
1.15=blocks/YC_ChestTop
1.16=blocks/YC_ChestBottom

2.3=#
2.4=blocks/YC_techGrass
2.5=blocks/YC_researchWood
2.6=blocks/YC_researchWoodTop

15.11=items/YC_Astral Retransmitter
15.12=items/YC_Crystal Powder
15.13=items/YC_Anscient symbol3
15.14=items/YC_Anscient symbol2
15.15=items/YC_Anscient symbol1
15.16=items/YC_Anscient symbol0

16.11=items/Relic
16.12=items/YC_Astral teleporter
16.13=items/YC_EssenceOfKnowledge
16.14=items/YC_Flashlight
16.15=blocks/254
16.16=items/YC_Redstone activator