output=/mods/

1.1=gcewing.lighting/textures/blocks/floodlight-bottom
1.2=gcewing.lighting/textures/blocks/floodlight-side
1.3=gcewing.lighting/textures/blocks/floodlight-top
1.4=gcewing.lighting/textures/blocks/floodlight-bottom-lit
1.5=gcewing.lighting/textures/blocks/floodlight-side-lit
1.6=gcewing.lighting/textures/blocks/floodlight-top-lit
1.7=gcewing.lighting.ic2/textures/blocks/flic2-bottom
1.8=gcewing.lighting.ic2/textures/blocks/flic2-side-off
1.8=gcewing.lighting.ic2/textures/blocks/flic2-side-lit-off
1.9=gcewing.lighting.ic2/textures/blocks/flic2-top
1.10=gcewing.lighting.ic2/textures/blocks/flic2-bottom-lit
1.11=gcewing.lighting.ic2/textures/blocks/flic2-side-on
1.11=gcewing.lighting.ic2/textures/blocks/flic2-side-lit-on
1.12=gcewing.lighting.ic2/textures/blocks/flic2-top-lit

2.1=gcewing.lighting/textures/blocks/flcarbide-bottom
2.2=gcewing.lighting/textures/blocks/flcarbide-side
2.3=gcewing.lighting/textures/blocks/flcarbide-top
2.4=gcewing.lighting/textures/blocks/flcarbide-bottom-lit
2.5=gcewing.lighting/textures/blocks/flcarbide-side-lit
2.6=gcewing.lighting/textures/blocks/flcarbidetop-lit

3.1=gcewing.lighting/textures/items/calciumCarbide
3.2=gcewing.lighting/textures/items/bonemealAndCharcoal
3.3=gcewing.lighting/textures/items/gaslightMantle
3.4=#
3.5=gcewing.lighting/textures/items/gazNozzle