output=/mods/ironchest/textures/blocks/

1.1=iron_side
1.2=iron_top
1.3=iron_front

2.1=gold_side
2.2=gold_top
2.3=gold_front

3.1=diamond_side
3.2=diamond_top
3.3=diamond_front

4.1=copper_side
4.2=copper_top
4.3=copper_front

5.1=silver_side
5.2=silver_top
5.3=silver_front

6.1=obsidian_side
6.2=obsidian_top
6.3=obsidian_front