output=/mods/nuclearControl/textures/

1.1=blocks/thermalMonitor/faceGreen
1.2=blocks/thermalMonitor/back
1.3=items/thermometer
1.4=blocks/industrialAlarm/face0
1.5=blocks/industrialAlarm/back
1.6=blocks/industrialAlarm/sidesHor0
1.7=blocks/industrialAlarm/sidesVert0
1.8=blocks/howlerAlarm/face
1.9=blocks/howlerAlarm/back
1.10=blocks/howlerAlarm/sidesHor
1.11=blocks/howlerAlarm/sidesVert
1.12=#

2.1=blocks/thermalMonitor/faceRed
2.2=blocks/thermalMonitor/sidesHor
2.3=items/thermometerDigital
2.4=blocks/industrialAlarm/face1
2.5=#
2.6=blocks/industrialAlarm/sidesHor1
2.7=blocks/industrialAlarm/sidesVert1
2.8=blocks/remoteThermo/side
2.8=blocks/rangeTrigger/side
2.8=blocks/rangeTrigger/back
2.9=blocks/remoteThermo/back
2.10=blocks/remoteThermo/face
2.11=blocks/remoteThermo/scale
2.12=blocks/rangeTrigger/faceGray
2.13=blocks/rangeTrigger/faceGreen
2.14=blocks/rangeTrigger/faceRed

3.1=blocks/thermalMonitor/faceGray
3.2=blocks/thermalMonitor/sidesVert
3.3=items/kitCounter
3.4=blocks/industrialAlarm/face2
3.5=#
3.6=blocks/industrialAlarm/sidesHor2
3.7=blocks/industrialAlarm/sidesVert2
3.8=#
3.9=#
3.10=blocks/averageCounter/input
3.10=blocks/energyCounter/input
3.11=blocks/energyCounter/output
3.12=blocks/averageCounter/output
3.13=#
3.14=#

4.1=items/cardTime
4.2=items/cardEnergy
4.3=items/cardReactor
4.4=items/cardEnergyArray
4.5=items/cardCounter
4.6=items/cardText
4.7=items/cardLiquid

5.1=#
5.2=items/kitEnergy
5.3=items/upgradeRange
5.4=items/upgradeColor
5.5=items/kitCounter
5.6=#
5.7=items/kitLiquid