output=/mods/GregTech_Addon/textures/items/

1.1=item.logo

2.1=item.GregTech_Sensorcard
2.2=item.GregTech_Sensorkit
2.3=item.Ultimate_Cheat_Armor

2.15=item.Iron_Mortar
2.16=item.Flint_Mortar

3.1=item.Sonictron
3.2=item.Destructopack
3.3=item.60k_Helium_Coolantcell
3.4=item.180k_Helium_Coolantcell
3.5=item.360k_Helium_Coolantcell
3.6=item.Lapotronic_Energyorb
3.7=item.Cloaking_Device
3.8=item.Iron_Jack_Hammer
3.9=item.Iridium_Neutronreflector
3.10=item.Steel_Jack_Hammer
3.11=item.Diamond_Jack_Hammer
3.12=item.Dataorb
3.13=item.Lighthelmet
3.14=item.Lapotronpack
3.15=item.Rockcutter
3.16=item.Teslastaff


4.1=item.Thoriumcell
4.2=item.Double_Thoriumcell
4.3=item.Quad_Thoriumcell
4.4=item.Plutoniumcell
4.5=item.Double_Plutoniumcell
4.6=item.Quad_Plutoniumcell
4.7=item.Lithium_Reactor_Cell
4.8=item.Debug_Scanner
4.9=item.Lithium_Battery_Empty
4.10=item.Lithium_Battery
4.11=item.Lithium_Batpack
4.12=item.Personal_Force_Field_Generator
4.13=item.60k_NaK_Coolantcell
4.14=item.180k_NaK_Coolantcell
4.15=item.360k_NaK_Coolantcell
4.16=item.GT_Scanner