output=/mods/GregTech_Addon/textures/blocks/tile.BlockMetaID_Machine/

1.1=failed
1.2=machine_side_microwave
1.3=adv_machine_logo
1.4=adv_machine_logo_bottom
1.5=adv_machine_screen_square
1.6=machine_side_microwave_active
1.7=adv_machine_screen_lightning
1.8=adv_machine_screen_crafting

1.10=adv_machine

1.12=adv_machine_uum
1.13=adv_machine_lesu
1.14=adv_machine_lesu_lv_out
1.15=adv_machine_lesu_mv_out
1.16=adv_machine_lesu_hv_out


2.1=high_adv_machine
2.2=high_adv_machine_hv_out
2.3=high_adv_machine_ev_out
2.4=high_adv_machine_glass
2.5=high_adv_machine_glass_yellow
2.6=high_adv_machine_rod
2.7=high_adv_machine_dimensional
2.8=adv_machine_screen_grid
2.9=adv_machine_screen_grid_active
2.10=machine_side_centrifuge

2.14=machine_top
2.15=adv_machine_matterfab
2.16=adv_machine_matterfab_active


3.1=machine_bottom
3.2=machine_side_printer
3.3=machine_side_printer_active
3.4=machine_side_pulverizer_active
3.5=machine_side_pipe
3.6=machine_top_screen_data
3.7=machine_bottom_pipe
3.8=audio_out
3.9=machine_side
3.10=machine_top_centrifuge

3.14=adv_machine_screen_scanning
3.15=adv_machine_screen_radioactive
3.16=adv_machine_screen


4.8=adv_machine_screen_data

4.16=adv_machine_screen_text


5.1=machine_side_electrolyzer
5.2=machine_side_electrolyzer_active
5.3=machine_side_chemical
5.4=machine_side_chemical_active

5.6=adv_machine_screen_active
5.7=adv_machine_grinder
5.8=adv_machine_connector
5.9=adv_machine_fire
5.10=adv_machine_implosion
5.11=adv_machine_itnt
5.12=adv_machine_saw
5.13=adv_machine_water
5.14=adv_machine_ice
5.15=adv_machine_oil
5.16=machine_top_pipe


6.1=machine_top_dieselmotor
6.2=machine_top_turbine
6.3=machine_bottom_turbine
6.4=machine_top_glass
6.5=machine_top_glass_orange
6.6=machine_top_glass_gauge
6.7=machine_top_glass_cyan
6.8=machine_top_glass_magenta
6.9=machine_top_glass_yellow
6.10=machine_top_dragonegg
6.11=machine_top_crystal_cyan
6.12=machine_top_crystal_yellow
6.13=machine_top_crystal


7.1=superconductor_0
7.2=superconductor_1
7.3=superconductor_2
7.4=superconductor_3
7.5=superconductor_4
7.6=superconductor_5
7.7=superconductor_6
7.8=superconductor_7
7.9=superconductor_8
7.10=superconductor_9
7.11=superconductor_10
7.12=superconductor_11
7.13=superconductor_in
7.14=adv_machine_pump
7.15=adv_machine_miningpipe


8.1=adv_machine_pipe_green
8.2=adv_machine_pipe_red
8.3=adv_machine_crafting
8.4=adv_machine_cobblegen
8.5=adv_machine_pipe_blue
8.6=adv_machine_pipe_yellow
8.7=adv_machine_cropharvesting
8.8=adv_machine_scrapbox
8.9=adv_machine_pipe_green_redstone
8.10=adv_machine_pipe_red_redstone
8.11=adv_machine_crafting_redstone
8.12=adv_machine_cobblegen_redstone
8.13=adv_machine_pipe_blue_redstone
8.14=adv_machine_pipe_yellow_redstone
8.15=adv_machine_cropharvesting_redstone
8.16=adv_machine_scrapbox_redstone


9.1=adv_machine_translocator_back
9.2=adv_machine_advtranslocator_back
9.3=adv_machine_buffer_back
9.4=adv_machine_largebuffer_back
9.5=adv_machine_advbuffer_back
9.6=adv_machine_inserter_back
9.7=adv_machine_sorter_back
9.8=adv_machine_regulator_back
9.9=adv_machine_translocator_back_redstone
9.10=adv_machine_advtranslocator_back_redstone
9.11=adv_machine_buffer_back_redstone
9.12=adv_machine_largebuffer_back_redstone
9.13=adv_machine_advbuffer_back_redstone
9.14=adv_machine_inserter_back_redstone
9.15=adv_machine_sorter_back_redstone
9.16=adv_machine_regulator_back_redstone


10.1=adv_machine_translocator_right
10.2=adv_machine_advtranslocator_right
10.3=adv_machine_buffer_right
10.4=adv_machine_largebuffer_right
10.5=adv_machine_advbuffer_right
10.6=adv_machine_inserter_right
10.7=adv_machine_sorter_right
10.8=adv_machine_regulator_right
10.9=adv_machine_translocator_right_redstone
10.10=adv_machine_advtranslocator_right_redstone
10.11=adv_machine_buffer_right_redstone
10.12=adv_machine_largebuffer_right_redstone
10.13=adv_machine_advbuffer_right_redstone
10.14=adv_machine_inserter_right_redstone
10.15=adv_machine_sorter_right_redstone
10.16=adv_machine_regulator_right_redstone


11.1=adv_machine_translocator_down
11.2=adv_machine_advtranslocator_down
11.3=adv_machine_buffer_down
11.4=adv_machine_largebuffer_down
11.5=adv_machine_advbuffer_down
11.6=adv_machine_inserter_down
11.7=adv_machine_sorter_down
11.8=adv_machine_regulator_down
11.9=adv_machine_translocator_down_redstone
11.10=adv_machine_advtranslocator_down_redstone
11.11=adv_machine_buffer_down_redstone
11.12=adv_machine_largebuffer_down_redstone
11.13=adv_machine_advbuffer_down_redstone
11.14=adv_machine_inserter_down_redstone
11.15=adv_machine_sorter_down_redstone
11.16=adv_machine_regulator_down_redstone


12.1=adv_machine_translocator_left
12.2=adv_machine_advtranslocator_left
12.3=adv_machine_buffer_left
12.4=adv_machine_largebuffer_left
12.5=adv_machine_advbuffer_left
12.6=adv_machine_inserter_left
12.7=adv_machine_sorter_left
12.8=adv_machine_regulator_left
12.9=adv_machine_translocator_left_redstone
12.10=adv_machine_advtranslocator_left_redstone
12.11=adv_machine_buffer_left_redstone
12.12=adv_machine_largebuffer_left_redstone
12.13=adv_machine_advbuffer_left_redstone
12.14=adv_machine_inserter_left_redstone
12.15=adv_machine_sorter_left_redstone
12.16=adv_machine_regulator_left_redstone


13.1=adv_machine_translocator_up
13.2=adv_machine_advtranslocator_up
13.3=adv_machine_buffer_up
13.4=adv_machine_largebuffer_up
13.5=adv_machine_advbuffer_up
13.6=adv_machine_inserter_up
13.7=adv_machine_sorter_up
13.8=adv_machine_regulator_up
13.9=adv_machine_translocator_up_redstone
13.10=adv_machine_advtranslocator_up_redstone
13.11=adv_machine_buffer_up_redstone
13.12=adv_machine_largebuffer_up_redstone
13.13=adv_machine_advbuffer_up_redstone
13.14=adv_machine_inserter_up_redstone
13.15=adv_machine_sorter_up_redstone
13.16=adv_machine_regulator_up_redstone


14.1=wood_shelf
14.2=wood_shelf_paper

14.4=wood_shelf_cans
14.5=adv_machine_pipe_magenta
14.6=adv_machine_pipe_cyan
14.7=machine_side_safe
14.8=machine_side_compartment
14.9=machine_side_shelf
14.10=machine_side_shelf_paper
14.11=machine_side_shelf_books
14.12=machine_side_shelf_cans
14.13=adv_machine_pipe_magenta_redstone
14.14=adv_machine_pipe_cyan_redstone
14.15=machine_side_desk
14.16=machine_side_cabinet


15.1=machine_side_controlpanel
15.2=machine_side_controlpanel_active
15.3=machine_side_gauge_red
15.4=machine_side_gauge_green
15.5=machine_top_macerator
15.6=machine_top_macerator_active
15.7=machine_top_gauge
15.8=machine_top_gauge_green
15.9=machine_top_recycler
15.10=machine_top_recycler_active
15.11=machine_top_gauge_brown
15.12=machine_top_wiremill
15.13=machine_top_wiremill_active
15.14=machine_top_circuitry
15.15=machine_side_bender
15.16=machine_side_bender_active


16.1=machine_side_pump
16.2=machine_side_pump_active
16.3=machine_side_gauge
16.4=machine_side_gauge_blue
16.5=machine_side_macerator
16.6=machine_side_macerator_active
16.7=machine_side_extractor
16.8=machine_side_extractor_active
16.9=machine_side_compressor
16.10=machine_side_compressor_active
16.11=machine_side_furnace
16.12=machine_side_furnace_active
16.13=machine_side_alloysmelter
16.14=machine_side_alloysmelter_active
16.15=machine_side_canner
16.16=machine_side_canner_active