output=/mods/IC2/textures/blocks/crops/
1.1=tile.blockCrop.stick
1.2=tile.blockCrop.stick.upgraded
1.3=tile.blockCrop.Wheat.1
1.3=tile.blockCrop.Hops.1
1.3=tile.blockCrop.Redwheat.1
1.4=tile.blockCrop.Wheat.2
1.4=tile.blockCrop.Hops.2
1.4=tile.blockCrop.Redwheat.2
1.5=tile.blockCrop.wheat.3
1.5=tile.blockCrop.Hops.3
1.5=tile.blockCrop.Redwheat.3
1.6=tile.blockCrop.Wheat.4
1.6=tile.blockCrop.Hops.4
1.6=tile.blockCrop.Redwheat.4
1.7=tile.blockCrop.Wheat.5
1.7=tile.blockCrop.Redwheat.5
1.8=tile.blockCrop.Wheat.6
1.8=tile.blockCrop.Redwheat.6
1.9=tile.blockCrop.Wheat.7

1.10=tile.blockCrop.weed.1
1.11=tile.blockCrop.weed.2
1.12=tile.blockCrop.weed.3

1.13=tile.blockCrop.Blackthorn.1
1.13=tile.blockCrop.Cyazint.1
1.13=tile.blockCrop.Dandelion.1
1.13=tile.blockCrop.Rose.1
1.13=tile.blockCrop.Tulip.1
1.13=tile.blockCrop.Venomilia.1

1.14=tile.blockCrop.Blackthorn.2
1.14=tile.blockCrop.Cyazint.2
1.14=tile.blockCrop.Dandelion.2
1.14=tile.blockCrop.Rose.2
1.14=tile.blockCrop.Tulip.2
1.14=tile.blockCrop.Venomilia.2

1.15=tile.blockCrop.Blackthorn.3
1.15=tile.blockCrop.Cyazint.3
1.15=tile.blockCrop.Dandelion.3
1.15=tile.blockCrop.Rose.3
1.15=tile.blockCrop.Tulip.3
1.15=tile.blockCrop.Venomilia.3

1.16=tile.blockCrop.Dandelion.4

2.1=tile.blockCrop.Cocoa.1
2.1=tile.blockCrop.Melon.1
2.1=tile.blockCrop.Pumpkin.1

2.2=tile.blockCrop.Cocoa.2
2.2=tile.blockCrop.Melon.2
2.2=tile.blockCrop.Pumpkin.2

2.3=tile.blockCrop.Cocoa.3
2.3=tile.blockCrop.Melon.3
2.3=tile.blockCrop.Pumpkin.3

2.4=tile.blockCrop.Pumpkin.4
2.5=tile.blockCrop.Melon.4

2.6=tile.blockCrop.Rose.4
2.7=tile.blockCrop.Blackthorn.4
2.8=tile.blockCrop.Tulip.4
2.9=tile.blockCrop.Cyazint.4
2.10=tile.blockCrop.Venomilia.4

2.11=tile.blockCrop.Cocoa.4
2.12=tile.blockCrop.Redwheat.7
2.13=tile.blockCrop.Reed.1
2.14=tile.blockCrop.Reed.2
2.15=tile.blockCrop.Reed.3
2.16=tile.blockCrop.Reed.4

3.1=tile.blockCrop.Aurelia.1
3.1=tile.blockCrop.Coffee.1
3.1=tile.blockCrop.Ferru.1

3.2=tile.blockCrop.Aurelia.2
3.2=tile.blockCrop.Coffee.2
3.2=tile.blockCrop.Ferru.2

3.3=tile.blockCrop.Aurelia.3
3.3=tile.blockCrop.Coffee.3
3.3=tile.blockCrop.Ferru.3

3.4=tile.blockCrop.Aurelia.4
3.4=tile.blockCrop.Ferru.4

3.5=tile.blockCrop.Aurelia.5

3.6=tile.blockCrop.Nether Wart.1
3.6=tile.blockCrop.Terra Wart.1
3.7=tile.blockCrop.Nether Wart.2
3.8=tile.blockCrop.Nether Wart.3
3.9=tile.blockCrop.Terra Wart.2
3.10=tile.blockCrop.Terra Wart.3
3.11=tile.blockCrop.Coffee.4
3.12=tile.blockCrop.Coffee.5
3.13=tile.blockCrop.Hops.5
3.14=tile.blockCrop.Hops.6
3.15=tile.blockCrop.Hops.7

4.1=tile.blockCrop.Carrots.1
4.1=tile.blockCrop.Potato.1
4.2=tile.blockCrop.Carrots.2
4.2=tile.blockCrop.Potato.2
4.3=tile.blockCrop.Carrots.3
4.4=tile.blockCrop.Potato.3