output=/mods/IC2/textures/blocks/crops/

1.1=blockCrop.stick
1.2=blockCrop.stick.upgraded
1.3=blockCrop.Wheat.1
1.3=blockCrop.Hops.1
1.3=blockCrop.Redwheat.1
1.4=blockCrop.Wheat.2
1.4=blockCrop.Hops.2
1.4=blockCrop.Redwheat.2
1.5=blockCrop.wheat.3
1.5=blockCrop.Hops.3
1.5=blockCrop.Redwheat.3
1.6=blockCrop.Wheat.4
1.6=blockCrop.Hops.4
1.6=blockCrop.Redwheat.4
1.7=blockCrop.Wheat.5
1.7=blockCrop.Redwheat.5
1.8=blockCrop.Wheat.6
1.8=blockCrop.Redwheat.6
1.9=blockCrop.Wheat.7
1.10=blockCrop.weed.1
1.11=blockCrop.weed.2
1.12=blockCrop.weed.3
1.13=blockCrop.Blackthorn.1
1.13=blockCrop.Cyazint.1
1.13=blockCrop.Dandelion.1
1.13=blockCrop.Rose.1
1.13=blockCrop.Tulip.1
1.13=blockCrop.Venomilia.1
1.14=blockCrop.Blackthorn.2
1.14=blockCrop.Cyazint.2
1.14=blockCrop.Dandelion.2
1.14=blockCrop.Rose.2
1.14=blockCrop.Tulip.2
1.14=blockCrop.Venomilia.2
1.15=blockCrop.Blackthorn.3
1.15=blockCrop.Cyazint.3
1.15=blockCrop.Dandelion.3
1.15=blockCrop.Rose.3
1.15=blockCrop.Tulip.3
1.15=blockCrop.Venomilia.3
1.16=blockCrop.Dandelion.4

2.1=blockCrop.Cocoa.1
2.1=blockCrop.Melon.1
2.1=blockCrop.Pumpkin.1
2.2=blockCrop.Cocoa.2
2.2=blockCrop.Melon.2
2.2=blockCrop.Pumpkin.2
2.3=blockCrop.Cocoa.3
2.3=blockCrop.Melon.3
2.3=blockCrop.Pumpkin.3
2.4=blockCrop.Pumpkin.4
2.5=blockCrop.Melon.4
2.6=blockCrop.Rose.4
2.7=blockCrop.Blackthorn.4
2.8=blockCrop.Tulip.4
2.9=blockCrop.Cyazint.4
2.10=blockCrop.Venomilia.4
2.11=blockCrop.Cocoa.4
2.12=blockCrop.Redwheat.7
2.13=blockCrop.Reed.1
2.14=blockCrop.Reed.2
2.15=blockCrop.Reed.3
2.16=blockCrop.Reed.4

3.1=blockCrop.Aurelia.1
3.1=blockCrop.Coffee.1
3.1=blockCrop.Ferru.1
3.2=blockCrop.Aurelia.2
3.2=blockCrop.Coffee.2
3.2=blockCrop.Ferru.2
3.3=blockCrop.Aurelia.3
3.3=blockCrop.Coffee.3
3.3=blockCrop.Ferru.3
3.4=blockCrop.Aurelia.4
3.4=blockCrop.Ferru.4
3.5=blockCrop.Aurelia.5
3.6=blockCrop.Nether Wart.1
3.6=blockCrop.Terra Wart.1
3.7=blockCrop.Nether Wart.2
3.8=blockCrop.Nether Wart.3
3.9=blockCrop.Terra Wart.2
3.10=blockCrop.Terra Wart.3
3.11=blockCrop.Coffee.4
3.12=blockCrop.Coffee.5
3.13=blockCrop.Hops.5
3.14=blockCrop.Hops.6
3.15=blockCrop.Hops.7

4.1=blockCrop.Carrots.1
4.1=blockCrop.Potato.1
4.2=blockCrop.Carrots.2
4.2=blockCrop.Potato.2
4.3=blockCrop.Carrots.3
4.4=blockCrop.Potato.3